openapi: 3.2.0
info:
  title: vivenu Stats API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: Stats
paths:
  /api/stats/avgcart:
    get:
      security:
      - jwt: []
      parameters:
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction avg Cart
      deprecated: true
      operationId: get_transaction_avg_cart
      summary: Get transaction avg cart
      x-summary-source: derived
  /api/stats/charges:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellerId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Charges per time scope
      operationId: get_charges_per_time_scope
      summary: Get charges per time scope
      x-summary-source: derived
  /api/stats/customers:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Customers per time scope
      deprecated: true
      operationId: get_customers_per_time_scope
      summary: Get customers per time scope
      x-summary-source: derived
  /api/stats/dayhours:
    get:
      security:
      - jwt: []
      parameters:
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction Day Hours
      deprecated: true
      operationId: get_transaction_day_hours
      summary: Get transaction day hours
      x-summary-source: derived
  /api/stats/discounts:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: posId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get applied Discounts
      operationId: get_applied_discounts
      summary: Get applied discounts
      x-summary-source: derived
  /api/stats/discountsusage:
    get:
      security:
      - jwt: []
      parameters:
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      operationId: get_discount_usage
      summary: Get discount usage
      x-summary-source: derived
  /api/stats/money:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Money per time scope
      operationId: get_money_per_time_scope
      summary: Get money per time scope
      x-summary-source: derived
  /api/stats/paymentmethod:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction Payment Method
      deprecated: true
      operationId: get_transaction_payment_method
      summary: Get transaction payment method
      x-summary-source: derived
  /api/stats/posdiscounts:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: posId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get applied POS Discounts
      operationId: get_applied_pos_discounts
      summary: Get applied pos discounts
      x-summary-source: derived
  /api/stats/posdiscountsusage:
    get:
      security:
      - jwt: []
      parameters:
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      operationId: get_applied_pos_discount
      summary: Get applied pos discount
      x-summary-source: derived
  /api/stats/status:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction States
      operationId: get_transaction_states
      summary: Get transaction states
      x-summary-source: derived
  /api/stats/tickets:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Tickets per time scope
      operationId: get_tickets_per_time_scope
      summary: Get tickets per time scope
      x-summary-source: derived
  /api/stats/checkouts/countByStatus:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: timezone
        required: false
        schema:
          type: string
          default: UTC
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      deprecated: true
      operationId: aggregate_checkouts_by_status
      summary: Aggregate checkouts by status
      x-summary-source: derived
  /api/stats/transaction/reports:
    get:
      security:
      - jwt: []
      parameters:
      - name: pos
        required: false
        schema:
          type: boolean
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
      tags:
      - Stats
      description: Get Transaction reports
      operationId: get_transaction_reports
      summary: Get transaction reports
      x-summary-source: derived
  /api/stats/transactions/extra-fields:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: field
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction Extra Fields
      operationId: get_transaction_extra_fields
      summary: Get transaction extra fields
      x-summary-source: derived
  /api/stats/transactions/location:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Transaction Locations
      operationId: get_transaction_locations
      summary: Get transaction locations
      x-summary-source: derived
  /api/stats/events/{id}/status:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: posId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Stats
      description: Get Event Status
      deprecated: true
      operationId: get_event_status
      summary: Get event status
      x-summary-source: derived
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apikey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
    customer-jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    orgApiKey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
