openapi: 3.0.3
info:
  title: vivenu access-lists tickets API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: tickets
paths:
  /api/tickets:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: name
        required: false
        schema:
          type: string
          description: Filter tickets by ticket holder name
          metas: {}
        in: query
        style: form
        explode: true
      - name: barcode
        required: false
        schema:
          type: string
          description: Filter tickets by barcode
          metas: {}
        in: query
        style: form
        explode: true
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          description: An ISO timestamp to filter tickets created on or after this date
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          description: An ISO timestamp to filter tickets created on or before this date
          metas: {}
        in: query
        style: form
        explode: true
      - name: status
        required: false
        schema:
          type: string
          description: Filter by a comma(,) separated list of statuses
          example: VALID,RESERVED
          metas: {}
        in: query
        style: form
        explode: true
      - name: type
        required: false
        schema:
          type: string
          enum:
          - SINGLE
          - MULTI
          description: Filter tickets by type
          metas: {}
        in: query
        style: form
        explode: true
      - name: deliveryType
        required: false
        schema:
          type: string
          description: Filter by a comma(,) separated list of deliverTypes
          metas: {}
        in: query
        style: form
        explode: true
      - name: event
        required: false
        schema:
          type: string
          description: Filter by a comma(,) separated list of event IDs
          metas: {}
        in: query
        style: form
        explode: true
      - name: statusId
        required: false
        schema:
          type: string
          description: Filter tickets with a seat by status ID
          metas: {}
        in: query
        style: form
        explode: true
      - name: gaName
        required: false
        schema:
          type: string
          description: Filter tickets with a seat by general admission name
          metas: {}
        in: query
        style: form
        explode: true
      - name: sectionName
        required: false
        schema:
          type: string
          description: Filter tickets with a seat by section name
          metas: {}
        in: query
        style: form
        explode: true
      - name: groupName
        required: false
        schema:
          type: string
          description: Filter tickets with a seat by group name
          metas: {}
        in: query
        style: form
        explode: true
      - name: rowName
        required: false
        schema:
          type: string
          description: Filter tickets with a seat by row name
          metas: {}
        in: query
        style: form
        explode: true
      - name: seatName
        required: false
        schema:
          type: string
          description: Filter tickets by seat name
          metas: {}
        in: query
        style: form
        explode: true
      - name: customerId
        required: false
        schema:
          type: string
          description: Filter tickets by customer ID
          metas: {}
        in: query
        style: form
        explode: true
      - name: purchaseIntentId
        required: false
        schema:
          type: string
          description: Filter tickets by purchase intent ID
          metas: {}
        in: query
        style: form
        explode: true
      - name: checkoutId
        required: false
        schema:
          type: string
          description: Filter tickets by the ID of the checkout
          metas: {}
        in: query
        style: form
        explode: true
      - name: subscriptionId
        required: false
        schema:
          type: string
          description: Filter tickets by the ID of the subscription
          metas: {}
        in: query
        style: form
        explode: true
      - name: updatedAt
        required: false
        schema:
          type: object
          properties:
            $gt:
              type: string
              format: date-time
              description: value is greater than
              metas: {}
            $gte:
              type: string
              format: date-time
              description: value is greater than or equal
              metas: {}
            $lt:
              type: string
              format: date-time
              description: value is less than
              metas: {}
            $lte:
              type: string
              format: date-time
              description: value is less than or equal
              metas: {}
            $eq:
              type: string
              format: date-time
              description: value is equal
              metas: {}
            $ne:
              type: string
              format: date-time
              description: value is not equal
              metas: {}
          description: Range of dates indicating when the ticket was last updated in ISO format.
          metas: {}
        in: query
        style: deepObject
        explode: true
      - name: batch
        required: false
        schema:
          type: string
          description: Filter tickets by batch
          metas: {}
        in: query
        style: form
        explode: true
      - name: batchCounter
        required: false
        schema:
          type: object
          properties:
            $gt:
              type: number
              format: float
              description: value is greater than
              metas: {}
            $gte:
              type: number
              format: float
              description: value is greater than or equal
              metas: {}
            $lt:
              type: number
              format: float
              description: value is less than
              metas: {}
            $lte:
              type: number
              format: float
              description: value is less than or equal
              metas: {}
            $eq:
              type: number
              format: float
              description: value is equal
              metas: {}
            $ne:
              type: number
              format: float
              description: value is not equal
              metas: {}
          description: Filter tickets by batch counter
          metas: {}
        in: query
        style: deepObject
        explode: true
      - name: packageId
        required: false
        schema:
          type: string
          description: Filter tickets by package ID
          metas: {}
        in: query
        style: form
        explode: true
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Tickets_GetAllTickets_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Get all Tickets
      operationId: tickets/list
  /api/tickets/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - tickets
      description: Get a Ticket
      operationId: tickets/get
    put:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Tickets_UpdateATicket'
      tags:
      - tickets
      description: Update a Ticket
      operationId: tickets/update
  /api/tickets/batch/{batchId}:
    get:
      parameters:
      - name: sellerId
        required: true
        schema:
          oneOf:
          - type: string
            length: 24
            metas: {}
          - type: string
            pattern: ^[a-z]+_.*$
            metas: {}
          metas: {}
        in: query
        style: form
        explode: true
      - name: batchId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Tickets_GetTicketsOfBatch_200_response'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - tickets
      description: Get Tickets of Batch
      operationId: tickets/getBatch
  /api/tickets/{id}/{secret}:
    get:
      parameters:
      - name: childEventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      - name: secret
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - tickets
      description: Get Ticket information
      operationId: tickets/getPublic
  /api/public/tickets/upgrades/info:
    get:
      parameters:
      - name: checkoutId
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: secret
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      tags:
      - tickets
      description: Get ticket upgrade info
      operationId: tickets/upgradeInfo
  /api/public/tickets/{id}/return-info:
    get:
      parameters:
      - name: secret
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: transactionSecret
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      tags:
      - tickets
      description: Return a Ticket
      operationId: tickets/getReturnInfo
  /api/tickets/{id}/print/{secret}:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: The locale to use for the ticket info.
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          description: The (child)event ID to use for the ticket info.
          metas: {}
        in: query
        style: form
        explode: true
      - name: asPackage
        required: false
        schema:
          type: boolean
          description: Whether to use the package of the ticket to determine relevant event.
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the ticket.
          metas: {}
        in: path
      - name: secret
        required: true
        schema:
          type: string
          description: The secret of the ticket.
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Tickets_GetTicketPrintData_200_response'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - tickets
      description: Get Ticket Print Data
      operationId: get_ticket_print_data
  /api/tickets/free:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Tickets_CreateFreeTickets_201_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFreeTicketValidationSchema'
      tags:
      - tickets
      description: Create free Tickets
      operationId: tickets/create
  /api/public/tickets/claim:
    post:
      security:
      - customer-jwt: []
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_ClaimTickets'
      tags:
      - tickets
      description: Claim tickets
      operationId: tickets/claim
  /api/public/tickets/upgrade:
    post:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_UpgradeTickets'
      tags:
      - tickets
      description: Upgrade tickets
      operationId: tickets/upgrade
  /api/tickets/{id}/reissue:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Reissue Ticket
      operationId: tickets/reissue
  /api/tickets/{id}/invalidate:
    post:
      parameters:
      - name: secret
        required: false
        schema:
          type: string
          description: The secret of the ticket if you use the endpoint without authentication
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Invalidate Ticket
      operationId: tickets/invalidate
  /api/tickets/{id}/mail:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_SendTicketPerMail'
      tags:
      - tickets
      description: Send Ticket per mail
      operationId: send_ticket_per_mail
  /api/tickets/{id}/seat:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_ChangeTicketsSeat'
      tags:
      - tickets
      description: Change Ticket's seat
      operationId: change_tickets_seat
  /api/tickets/{id}/validate:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Validate Ticket
      operationId: tickets/validate
  /api/tickets/{id}/detailsrequired:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Require Details
      operationId: tickets/requireDetails
  /api/tickets/{id}/preparedelivery:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Prepare Ticket for delivery
      operationId: prepare_ticket_for_delivery
  /api/public/tickets/{id}/return:
    post:
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_ReturnATicket'
      tags:
      - tickets
      description: Return a Ticket
      operationId: tickets/return
  /api/public/tickets/{id}/invalidate:
    post:
      parameters:
      - name: secret
        required: true
        schema:
          type: string
          description: The secret of the ticket
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventIds
        required: false
        schema:
          type: array
          items:
            type: string
            metas: {}
          description: The event IDs to invalidate the ticket for
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
      tags:
      - tickets
      description: Invalidate Ticket
      operationId: tickets/invalidatePublic
  /api/tickets/batch/{id}/invalidate:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Tickets_InvalidateTicketsOfABatch_201_response'
        '401':
          description: Unauthorized
      tags:
      - tickets
      description: Invalidate Tickets of a Batch
      operationId: tickets/invalidateBatch
  /api/tickets/batch/{id}/mail:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_SendBatchTicketsPerMail'
      tags:
      - tickets
      description: Send batch tickets per mail
      operationId: send_batch_tickets_per_mail
  /api/tickets/personalize/{id}/{secret}:
    post:
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the ticket.
          metas: {}
        in: path
      - name: secret
        required: true
        schema:
          type: string
          description: The secret of the ticket.
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Tickets_PersonalizeATicket'
      tags:
      - tickets
      description: Personalize a Ticket
      operationId: tickets/personalize
components:
  schemas:
    POST_Tickets_SendBatchTicketsPerMail:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
      - email
      nullable: true
    POST_Tickets_PersonalizeATicket:
      type: object
      properties:
        name:
          type: string
          description: The name on the ticket.
        firstname:
          type: string
          description: The first name on the ticket.
        lastname:
          type: string
          description: The last name on the ticket.
        extraFields:
          type: object
          description: Key-value pairs of extra fields for the ticket.
    POST_Tickets_InvalidateTicketsOfABatch_201_response:
      type: array
      items:
        $ref: '#/components/schemas/TicketResource'
    CustomerResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the customer
        company:
          type: string
          nullable: true
          description: The company of the customer
        name:
          type: string
          nullable: true
          description: The name of the customer collected from first name and last name
        prename:
          type: string
          nullable: true
          description: The first name of the customer
        lastname:
          type: string
          nullable: true
          description: The lastname of the customer
        image:
          type: string
          nullable: true
          description: The image of the customer
          deprecated: true
        primaryEmail:
          type: string
          format: email
          description: The primary email of the customer
        number:
          type: number
          format: float
          description: The number of the customer. Need to be unique and incrementing
        phone:
          type: string
          description: The phone number of the customer
        location:
          type: object
          properties:
            street:
              type: string
              nullable: true
              description: The street of the location
            line2:
              type: string
              nullable: true
              description: The additional address fields of the location
            postal:
              type: string
              nullable: true
              description: The postal of the location
            city:
              type: string
              nullable: true
              description: The city of the location
            locale:
              type: string
              nullable: true
              description: The locale of the location
              deprecated: true
            state:
              type: string
              nullable: true
              description: The state of the location
            center:
              type: array
              items:
                type: number
                format: float
              nullable: true
              description: The center of the location
              deprecated: true
            country:
              type: string
              nullable: true
              description: An ISO-3166-1 Alpha 2 country code of the location
          description: The location of the customer
        sellerId:
          type: string
          description: The ID of the seller of the customer
        notes:
          type: string
          nullable: true
          description: Notes of the customer
        extraFields:
          type: object
          nullable: true
          description: Extra fields of the customer
        tags:
          type: array
          items:
            type: string
          description: An array of tags
        segments:
          type: array
          items:
            type: string
          description: An array of segment slugs, read only
        blocked:
          type: boolean
          description: Whether the customer is blocked
        verified:
          type: boolean
          description: Whether the customer is verified
        identification:
          type: array
          items:
            $ref: '#/components/schemas/LegalIdentificationDocumentResource'
          description: An array of identification items
        _account:
          type: object
          properties:
            verificationToken:
              type: string
              description: The verification token will be sent to the customer via email within a verification link, which can be used to verify the account of the customer
            passwordResetToken:
              type: string
              description: The password reset token will be sent within a password reset link via email, which can be used by the customer to reset its password
            limitations:
              type: object
              properties:
                nextVerificationMailRequest:
                  type: string
                  format: date-time
                  description: An ISO timestamp indicating when the next verification mail request can be sent
              description: Account specific limitations of the customer
            loginType:
              type: string
              nullable: true
              enum:
              - password
              - identityprovider
              description: The login type of the customer.
          description: Account specific information about the customer
        meta:
          type: object
          description: Custom key-value data. Metadata is useful for storing additional, structured information on an object.
        externalId:
          type: string
          nullable: true
          description: An external identifier of the customer
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the customer was created
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the customer was updated
      required:
      - _id
      - primaryEmail
      description: The associated customer which has been updated
    CreateFreeTicketValidationSchema:
      oneOf:
      - type: object
        properties:
          eventId:
            type: string
            description: The ID of the event containing the ticket cart items.
          underShopId:
            type: string
          items:
            type: array
            items:
              type: object
              properties:
                _id:
                  type: string
                  description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                type:
                  type: string
                  enum:
                  - ticket
                  description: The type of the cart item.
                  default: ticket
                amount:
                  type: integer
                  minimum: 1
                  description: The amount of the cart item.
                ticketTypeId:
                  type: string
                  description: The ID of the ticket type of the cart item.
                seatingInfo:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the seating object.
                    _type:
                      type: number
                      format: float
                      enum:
                      - 6
                      - 7
                      description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                    categoryId:
                      type: string
                      description: The ID of the category containing the seating object.
                    statusId:
                      type: string
                      description: The ID of a container holding information about the seating status of the seating object.
                    name:
                      type: string
                      nullable: true
                      description: If _type == 7. The name of the general admission.
                    seatType:
                      type: string
                      nullable: true
                      enum:
                      - handicapped
                      - limitedView
                      - foldable
                      description: If _type == 6. The type of the seat. null = normal.
                    sectionName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the section where the seat is located.
                    groupName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the row group where the seat is located.
                    rowName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the row where the seat is located.
                    seatName:
                      type: string
                      nullable: true
                      description: If _type == 6. The seat name.
                    gate:
                      type: string
                      nullable: true
                      description: The entry gate associated with the seating object.
                  required:
                  - _type
                  - statusId
                  nullable: true
                  description: The associated seating object.
                asHardTicket:
                  type: boolean
                  nullable: true
                  description: Whether this ticket is a hard ticket.
                triggeredBy:
                  oneOf:
                  - type: string
                    description: An ID of another cart item which triggered the buy action of the cart item.
                  - type: array
                    items:
                      type: string
                    description: An array of IDs of other cart items which triggered the buy action of the cart item.
                  nullable: true
                  description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
                triggeredAutomations:
                  type: boolean
                  nullable: true
                  description: Whether the cart item triggered automations.
                id:
                  type: string
                  description: The ID of the ticket type of the cart item.
                  deprecated: true
              required:
              - amount
              - ticketTypeId
            description: An array containing all ticket cart items.
          sendMail:
            type: boolean
          customMessage:
            type: string
            nullable: true
          requiresPersonalization:
            type: boolean
          seatingReservationToken:
            type: string
          batchId:
            type: string
          salesChannelId:
            type: string
          customerId:
            type: string
            description: The ID of the existing customer.
        required:
        - customerId
        - eventId
        - items
      - type: object
        properties:
          eventId:
            type: string
            description: The ID of the event containing the ticket cart items.
          underShopId:
            type: string
          items:
            type: array
            items:
              type: object
              properties:
                _id:
                  type: string
                  description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                type:
                  type: string
                  enum:
                  - ticket
                  description: The type of the cart item.
                  default: ticket
                amount:
                  type: integer
                  minimum: 1
                  description: The amount of the cart item.
                ticketTypeId:
                  type: string
                  description: The ID of the ticket type of the cart item.
                seatingInfo:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the seating object.
                    _type:
                      type: number
                      format: float
                      enum:
                      - 6
                      - 7
                      description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                    categoryId:
                      type: string
                      description: The ID of the category containing the seating object.
                    statusId:
                      type: string
                      description: The ID of a container holding information about the seating status of the seating object.
                    name:
                      type: string
                      nullable: true
                      description: If _type == 7. The name of the general admission.
                    seatType:
                      type: string
                      nullable: true
                      enum:
                      - handicapped
                      - limitedView
                      - foldable
                      description: If _type == 6. The type of the seat. null = normal.
                    sectionName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the section where the seat is located.
                    groupName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the row group where the seat is located.
                    rowName:
                      type: string
                      nullable: true
                      description: If _type == 6. The name of the row where the seat is located.
                    seatName:
                      type: string
                      nullable: true
                      description: If _type == 6. The seat name.
                    gate:
                      type: string
                      nullable: true
                      description: The entry gate associated with the seating object.
                  required:
                  - _type
                  - statusId
                  nullable: true
                  description: The associated seating object.
                asHardTicket:
                  type: boolean
                  nullable: true
                  description: Whether this ticket is a hard ticket.
                triggeredBy:
                  oneOf:
                  - type: string
                    description: An ID of another cart item which triggered the buy action of the cart item.
                  - type: array
                    items:
                      type: string
                    description: An array of IDs of other cart items which triggered the buy action of the cart item.
                  nullable: true
                  description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
                triggeredAutomations:
                  type: boolean
                  nullable: true
                  description: Whether the cart item triggered automations.
                id:
                  type: string
                  description: The ID of the ticket type of the cart item.
                  deprecated: true
              required:
              - amount
              - ticketTypeId
            description: An array containing all ticket cart items.
          sendMail:
            type: boolean
          customMessage:
            type: string
            nullable: true
          requiresPersonalization:
            type: boolean
          seatingReservationToken:
            type: string
          batchId:
            type: string
          salesChannelId:
            type: string
          company:
            type: string
            nullable: true
            description: The company of the customer
          prename:
            type: string
            nullable: true
            description: The first name of the customer
          lastname:
            type: string
            nullable: true
            description: The lastname of the customer
          email:
            type: string
            format: email
            description: The primary email of the customer
          street:
            type: string
            nullable: true
            description: The street of the location
          line2:
            type: string
            nullable: true
            description: The additional address fields of the location
          postal:
            type: string
            nullable: true
            description: The postal of the location
          city:
            type: string
            nullable: true
            description: The city of the location
          state:
            type: string
            nullable: true
            description: The state of the location
          country:
            type: string
            nullable: true
            description: An ISO-3166-1 Alpha 2 country code of the location
          addToCustomers:
            type: boolean
            description: Whether to add the customer data to the customer list.
        required:
        - eventId
        - items
        - prename
        - lastname
        - email
    POST_Tickets_ChangeTicketsSeat:
      type: object
      properties:
        seatingInfo:
          type: object
        seatingReservationToken:
          type: string
        sendMail:
          type: boolean
        freeSeat:
          type: boolean
          default: true
      required:
      - seatingReservationToken
    TicketResource:
      type: object
      properties:
        _id:
          type: string
        sellerId:
          type: string
          description: The ID of the seller that ticket belongs to.
        company:
          type: string
        email:
          type: string
        name:
          type: string
          description: The name of the ticket owner
        firstname:
          type: string
          description: The first name of the ticket owner
        lastname:
          type: string
          description: The last name of the ticket owner
        street:
          type: string
        line2:
          type: string
          description: The additional address field of the user of the ticket
        city:
          type: string
        postal:
          type: string
        state:
          type: string
          description: The state of the user of the ticket
        country:
          type: string
          description: The country of the user of the ticket
        eventId:
          type: string
          description: The ID of the event the ticket belongs to
        rootEventId:
          type: string
          description: The ID of the root event, if exists
        transactionId:
          type: string
          description: The transaction the ticket originated from
        posId:
          type: string
          description: The point of sale the ticket was created on
        underShopId:
          type: string
          description: The ID of an undershop the ticket was purchased through
        categoryRef:
          type: string
          description: A UUID of the category the ticket belongs to.
        categoryName:
          type: string
          description: The name of the category the ticket belongs to.
        ticketTypeId:
          type: string
          description: The ID of the ticket type this ticket inherits from
        slotId:
          type: string
          description: The ID of the time slot this ticket belongs to, if exists
        slotStartTime:
          type: string
          description: The start time of the time slot this ticket belongs to, if exists.
        cartItemId:
          type: string
          description: The ID of the cart item to which the ticket belongs
        triggeredBy:
          type: array
          items:
            type: string
          description: An array of IDs of cart items which triggered the buy action of the ticket
        ticketName:
          type: string
          description: The name of the ticket type this ticket inherits from
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - AUD
          - CHF
          - THB
          - ILS
          - COP
          - MXN
          - DKK
          - NOK
          - SEK
          - QAR
          - CAD
          - ISK
          - GTQ
          - INR
          - DOP
          - SGD
          - PLN
          - SAR
          - TTD
          - ZAR
          - KYD
          - HKD
          - CZK
          - KRW
          - JPY
          - NZD
          - AED
          - MAD
          - TWD
          - BRL
          - BWP
          - NAD
          - KES
          - SCR
          - TRY
          - SZL
          - LSL
          - TZS
          - UGX
          - ZMW
          - ZWG
          - GHS
          - NGN
          - SLE
          - LRD
          - XOF
          - XAF
          - GEL
          - IDR
          - ARS
          - CRC
          - HUF
          - EGP
          - MYR
          - VND
          - PHP
          description: An ISO 4217 3-character code of the currency
        regularPrice:
          type: number
          format: float
          description: The original non discounted price for the ticket
        realPrice:
          type: number
          format: float
          description: The real price for the ticket
        completed:
          type: boolean
          description: Whether all steps for validating the ticket has been made
        createdAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the ticket was created.
        updatedAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the ticket was updated.
        expiresAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the ticket will be expired.
        status:
          type: string
          enum:
          - VALID
          - INVALID
          - RESERVED
          - DETAILSREQUIRED
          - BLANK
          description: The status of the ticket
        secret:
          type: string
          description: The secret token of the ticket
        barcode:
          type: string
          minLength: 8
          description: The barcode of the ticket
        seat:
          type: string
        seatingInfo:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the seating object.
            _type:
              type: number
              format: float
              enum:
              - 6
              - 7
              description: Indicates the type of seating object. Seat = 6, General Admission = 7.
            categoryId:
              type: string
              description: The ID of the category containing the seating object.
            statusId:
              type: string
              description: The ID of a container holding information about the seating status of the seating object.
            name:
              type: string
              nullable: true
              description: If _type == 7. The name of the general admission.
            seatType:
              type: string
              nullable: true
              enum:
              - handicapped
              - limitedView
              - foldable
              description: If _type == 6. The type of the seat. null = normal.
            sectionName:
              type: string
              nullable: true
              description: If _type == 6. The name of the section where the seat is located.
            groupName:
              type: string
              nullable: true
              description: If _type == 6. The name of the row group where the seat is located.
            rowName:
              type: string
              nullable: true
              description: If _type == 6. The name of the row where the seat is located.
            seatName:
              type: string
              nullable: true
              description: If _type == 6. The seat name.
            gate:
              type: string
              nullable: true
              description: The entry gate associated with the seating object.
          required:
          - _type
          - statusId
          description: The associated seating object.
        type:
          type: string
          enum:
          - SINGLE
          - MULTI
          description: The type of the ticket
        origin:
          type: string
          enum:
          - yourticket
          - pos
          - rebooking
          - upgrade
          - subscription
          - transfer
        extraFields:
          type: object
          description: A hashmap of extra fields for the ticket
        batch:
          type: string
          description: A UUId indicating in which batch the tickets were created
        batchCounter:
          type: number
          format: float
          description: A counter indicating the order of the ticket in the batch
        deliveryType:
          type: string
          enum:
          - HARD
          - VIRTUAL
          description: The delivery type of the ticket
        readyForDelivery:
          type: boolean
          description: Whether the ticket is ready for delivery
        customMessage:
          type: string
        priceCategoryId:
          type: string
        entryPermissions:
          type: array
          items:
            oneOf:
            - type: array
            - type: boolean
            - type: number
            - type: object
            - type: string
        customerId:
          type: string
        history:
          type: array
          items:
            oneOf:
            - type: array
            - type: boolean
            - type: number
            - type: object
            - type: string
        personalized:
          type: boolean
        excludedEventIds:
          type: array
          items:
            type: string
          description: An array of IDs of events for which the ticket has been blocked
        originTicketId:
          type: string
          description: The ID of the origin ticket from which the ticket created
        fulfillmentTypeId:
          type: string
          description: The ID of the fulfillment type used to deliver the ticket
        packageInfo:
          type: object
          properties:
            packageId:
              type: string
              description: The ID of the package
            packageConfigId:
              type: string
              description: The ID of the package configuration
            name:
              type: string
              description: The name of the package
          required:
          - packageId
          - packageConfigId
          - name
          description: The package information of the ticket
        __v:
          type: integer
        _locks:
          type: array
          items:
            type: object
            properties:
              by:
                type: string
              at:
                type: string
                format: date-time
              eventId:
                type: string
              type:
                oneOf:
                - type: array
                - type: boolean
                - type: number
                - type: object
                - type: string
                enum:
                - resell
            required:
            - by
            - at
          description: List of locks on this ticket
        addOns:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
              productVariantId:
                type: string
              name:
                type: string
            required:
            - productId
            - productVariantId
            - name
          description: A list of Add-Ons of the ticket.
        capabilities:
          type: array
          items:
            oneOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - self_service_return
                settings:
                  type: object
                  properties:
                    returnRelatedItems:
                      type: boolean
                      default: true
                    phases:
                      type: array
                      items:
                        type: object
                        properties:
                          condition:
                            type: object
                            properties:
                              target:
                                type: string
                                nullable: true
                                description: The target of the relative date
                              unit:
                                type: string
                                enum:
                                - hours
                                - days
                                - weeks
                                - months
                                - years
                                description: The unit in which the offset is specified
                              offset:
                                type: integer
                                description: The offset to the date
                            required:
                            - unit
                            - offset
                          refundPercentage:
                            type: number
                            format: float
                            minimum: 0
                            maximum: 1
                        required:
                        - condition
                        - refundPercentage
                  required:
                  - phases
              required:
              - type
              - settings
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - repersonalization
                settings:
                  type: object
                  properties:
                    inherit:
                      type: boolean
                    repersonalizationDeadline:
                      type: object
                      properties:
                        target:
                          type: string
                          nullable: true
                          description: The target of the relative date
                        unit:
                          type: string
                          enum:
                          - hours
                          - days
                          - weeks
                          - months
                          - years
                          description: The unit in which the offset is specified
                        offset:
                          type: integer
                          description: The offset to the date
                      required:
                      - unit
                      - offset
                    repersonalizationsLimit:
                      type: number
                      format: float
                      nullable: true
                    repersonalizationFee:
                      type: number
                      format: float
                      nullable: true
                    limitOnlyNameChanges:
                      type: boolean
                  required:
                  - repersonalizationDeadline
              required:
              - type
              - settings
          nullable: true
          description: The capabilities of the ticket.
        personalizations:
          type: array
          items:
            oneOf:
            - type: array
            - type: boolean
            - type: number
            - type: object
            - type: string
          description: A list of personalizations of the ticket.
      required:
      - _id
      - sellerId
      - eventId
      - ticketTypeId
      - ticketName
      - createdAt
      - updatedAt
      - status
      - secret
      - barcode
      description: The associated ticket which has been updated
    GET_Tickets_GetAllTickets_200_response:
      type: object
      properties:
        rows:
          type: array
          items:
            $ref: '#/components/schemas/TicketResource'
        total:
          type: integer
    POST_Tickets_CreateFreeTickets_201_response:
      type: array
      items:
        $ref: '#/components/schemas/TicketResource'
    POST_Tickets_UpgradeTickets:
      type: object
      properties:
        targetEventId:
          type: string
        tickets:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              secret:
                type: string
            required:
            - _id
            - secret
          minItems: 1
        salesChannelId:
          type: string
      required:
      - targetEventId
    CheckoutResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the checkout.
        secret:
          type: string
          description: The secret token of the checkout.
        status:
          type: string
          enum:
          - NEW
          - ABORTED
          - COMPLETE
          description: The status of the checkout.
        type:
          type: string
          enum:
          - transaction
          - upgrade
          - rebooking
          - purchaseintent
          - subscription
          description: The type of the checkout.
          example: transaction
        company:
          type: string
          description: The company name of the checkout's customer.
        firstname:
          type: string
          description: The first name of the checkout's customer.
        lastname:
          type: string
          description: The last name of the checkout's customer.
        name:
          type: string
          description: The full name of the checkout's customer.
        email:
          type: string
          format: email
          description: The email of the checkout's customer.
        phone:
          type: string
          description: The phone number of the checkout's customer.
        customerId:
          type: string
          description: The ID of the customer.
        address:
          type: object
          properties:
            fullAddress:
              type: string
              nullable: true
              description: Optional full address
            street:
              type: string
              nullable: true
              description: The street of the address. Street name including number.
            line2:
              type: string
              nullable: true
              description: The additional field of the address.
            postal:
              type: string
              nullable: true
              description: The postal code of the address.
            city:
              type: string
              nullable: true
              description: The city of the address.
            country:
              type: string
              nullable: true
              description: The country of the address. An ISO 3166 country code.
            state:
              type: string
              nullable: true
              description: The state of the address. If applicable
          description: The address of the checkout.
        deliveryAddress:
          type: object
          properties:
            fullAddress:
              type: string
              nullable: true
              description: Optional full address
            street:
              type: string
              nullable: true
              description: The street of the address. Street name including number.
            line2:
              type: string
              nullable: true
              description: The additional field of the address.
            postal:
              type: string
              nullable: true
              description: The postal code of the address.
            city:
              type: string
              nullable: true
              description: The city of the address.
            country:
              type: string
              nullable: true
              description: The country of the address. An ISO 3166 country code.
            state:
              type: string
              nullable: true
              description: The state of the address. If applicable
            name:
              type: string
              description: The name of the person receiving delivery.
          description: The delivery address of the checkout.
        identification:
          type: array
          items:
            $ref: '#/components/schemas/LegalIdentificationDocumentResource'
          description: An array of identification items
        sellerId:
          type: string
          description: The ID of the seller of the checkout.
        items:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the checkout item.
              eventId:
                type: string
                description: The ID of the event containing the item.
              shopId:
                type: string
                description: The ID of the under shop this item originated from.
              channelId:
                type: string
                description: The ID of the channel this item originated from.
              redeemedVouchers:
                type: object
                properties:
                  totalRedeemedAmount:
                    type: number
                    format: float
                    description: The sum of all vouchers applied.
                  vouchers:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the voucher.
                        code:
                          type: string
                          description: The Code of the voucher.
                        redeemedAmount:
                          type: number
                          format: float
                          description: The applied value of the voucher.
                      required:
                      - code
                      - redeemedAmount
                    description: An array of all redeemed vouchers of the checkout item.
                required:
                - totalRedeemedAmount
                description: An object including information on all redeemed vouchers within the checkout item.
              appliedCoupons:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the applied coupon.
                    code:
                      type: string
                      description: The code of the applied coupon.
                description: An array including information on all applied coupons within the checkout item.
              appliedDiscountInfo:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the applied discount info item.
                        itemId:
                          type: string
                          description: The ID of the item on which the discount is applied.
                        amount:
                          type: number
                          format: float
                          description: The amount of applied discounts.
                        regularPrice:
                          type: number
                          format: float
                          description: The regular price before applying the discount.
                        price:
                          type: number
                          format: float
                          description: The price after applying the discount.
                        varDiscounts:
                          type: array
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                                description: The ID of the discount info.
                              discountId:
                                type: string
                                description: The ID of the discount of the discount info.
                              category:
                                type: string
                                enum:
                                - coupon
                                - groupDiscount
                                - posDiscount
                                - voucher
                                - system
                                - modifier
                                description: The category of the discount.
                              name:
                                type: string
                                description: The name of the discount.
                              type:
                                type: string
                                enum:
                                - fix
                                - var
                                - fixPerItem
                                - waiveFees
                                description: The type of the discount.
                              value:
                                type: number
                                format: float
                                description: The value of the discount.
                              allowedItems:
                                type: array
                                items:
                                  type: string
                                description: An array of the IDs of allowed items of the discount.
                            required:
                            - _id
                            - type
                          description: An array of var discounts of the applied discount info item.
                        fixDiscounts:
                          type: array
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                                description: The ID of the discount info.
                              discountId:
                                type: string
                                description: The ID of the discount of the discount info.
                              category:
                                type: string
                                enum:
                                - coupon
                                - groupDiscount
                                - posDiscount
                                - voucher
                                - system
                                - modifier
                                description: The category of the discount.
                              name:
                                type: string
                                description: The name of the discount.
                              type:
                                type: string
                                enum:
                                - fix
                                - var
                                - fixPerItem
                                - waiveFees
                                description: The type of the discount.
                              value:
                                type: number
                                format: float
                                description: The value of the discount.
                              allowedItems:
                                type: array
                                items:
                                  type: string
                                description: An array of the IDs of allowed items of the discount.
                            required:
                            - _id
                            - type
                          description: An array of fix discounts of the applied discount info item.
                      required:
                      - _id
                    description: An array of applied discount info items.
                  discounts:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the discount info.
                        discountId:
                          type: string
                          description: The ID of the discount of the discount info.
                        category:
                          type: string
                          enum:
                          - coupon
                          - groupDiscount
                          - posDiscount
                          - voucher
                          - system
                          - modifier
                          description: The category of the discount.
                        name:
                          type: string
                          description: The name of the discount.
                        type:
                          type: string
                          enum:
                          - fix
                          - var
                          - fixPerItem
                          - waiveFees
                          description: The type of the discount.
                        value:
                          type: number
                          format: float
                          description: The value of the discount.
                        allowedItems:
                          type: array
                          items:
                            type: string
                          description: An array of the IDs of allowed items of the discount.
                        maxItemsInCart:
                          type: number
                          format: float
                          description: The maximum amount of items the discount will be applied towards.
                        maxAbsoluteValue:
                          type: number
                          format: float
                          description: The maximum absolute value of the discount.
                        absoluteDiscountValue:
                          type: number
                          format: float
                          description: The absolute value of the discount.
                      required:
                      - _id
                      - type
                    description: An array of extended discount info items.
                description: Applied discountInfo of the checkout item.
              regularPrice:
                type: number
                format: float
                description: The regular price of the checkout item.
              realPrice:
                type: number
                format: float
                description: The calculated price of the checkout item.
              innerFeeComponents:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee composition.
                  fix:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the fee component.
                        amount:
                          type: number
                          format: float
                          description: The fee amount.
                        value:
                          type: number
                          format: float
                          description: The fee value.
                        total:
                          type: number
                          format: float
                          description: The fee total. Calculated with amount and value.
                        type:
                          type: string
                          enum:
                          - onTicket
                          - onHardTicket
                          - onCart
                          description: The fee type of the fee component.
                        name:
                          type: string
                          nullable: true
                          description: The name of the fee.
                        publicName:
                          type: string
                          description: The public name of the fee component.
                        exposed:
                          type: boolean
                          description: Whether this fee will be exposed to the ticket buyer.
                        scheme:
                          type: object
                          properties:
                            schemeId:
                              type: string
                              description: The ID of the fee scheme.
                            feeId:
                              type: string
                              description: The ID of the fee scheme fee.
                          description: The fee scheme of the fee component.
                      required:
                      - _id
                    description: An array of fee components for the fix fee.
                  var:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the fee component.
                        amount:
                          type: number
                          format: float
                          description: The fee amount.
                        value:
                          type: number
                          format: float
                          description: The fee value.
                        total:
                          type: number
                          format: float
                          description: The fee total. Calculated with amount and value.
                        type:
                          type: string
                          enum:
                          - onTicket
                          - onHardTicket
                          - onCart
                          description: The fee type of the fee component.
                        name:
                          type: string
                          nullable: true
                          description: The name of the fee.
                        publicName:
                          type: string
                          description: The public name of the fee component.
                        exposed:
                          type: boolean
                          description: Whether this fee will be exposed to the ticket buyer.
                        scheme:
                          type: object
                          properties:
                            schemeId:
                              type: string
                              description: The ID of the fee scheme.
                            feeId:
                              type: string
                              description: The ID of the fee scheme fee.
                          description: The fee scheme of the fee component.
                      required:
                      - _id
                    description: An array of fee components for the var fee.
                required:
                - _id
                description: The inner fee of the transaction as a result of the checkout item including fix and var fees.
              innerCharge:
                type: number
                format: float
                description: The inner charge of the checkout item.
              outerFeeComponents:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee composition.
                  fix:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the fee component.
                        amount:
                          type: number
                          format: float
                          description: The fee amount.
                        value:
                          type: number
                          format: float
                          description: The fee value.
                        total:
                          type: number
                          format: float
                          description: The fee total. Calculated with amount and value.
                        type:
                          type: string
                          enum:
                          - onTicket
                          - onHardTicket
                          - onCart
                          description: The fee type of the fee component.
                        name:
                          type: string
                          nullable: true
                          description: The name of the fee.
                        publicName:
                          type: string
                          description: The public name of the fee component.
                        exposed:
                          type: boolean
                          description: Whether this fee will be exposed to the ticket buyer.
                        scheme:
                          type: object
                          properties:
                            schemeId:
                              type: string
                              description: The ID of the fee scheme.
                            feeId:
                              type: string
                              description: The ID of the fee scheme fee.
                          description: The fee scheme of the fee component.
                      required:
                      - _id
                    description: An array of fee components for the fix fee.
                  var:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the fee component.
                        amount:
                          type: number
                          format: float
                          description: The fee amount.
                        value:
                          type: number
                          format: float
                          description: The fee value.
                        total:
                          type: number
                          format: float
                          description: The fee total. Calculated with amount and value.
                        type:
                          type: string
                          enum:
                          - onTicket
                          - onHardTicket
                          - onCart
                          description: The fee type of the fee component.
                        name:
                          type: string
                          nullable: true
                          description: The name of the fee.
                        publicName:
                          type: string
                          description: The public name of the fee component.
                        exposed:
                          type: boolean
                          description: Whether this fee will be exposed to the ticket buyer.
                        scheme:
                          type: object
                          properties:
                            schemeId:
                              type: string
                              description: The ID of the fee scheme.
                            feeId:
                              type: string
                              description: The ID of the fee scheme fee.
                          description: The fee scheme of the fee component.
                      required:
                      - _id
                    description: An array of fee components for the var fee.
                required:
                - _id
                description: The outer fee of the transaction as a result of the checkout item including fix and var fees.
              outerCharge:
                type: number
                format: float
                description: The outer charge of the checkout item.
              tickets:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ticket
                      description: The type of the cart item.
                      default: ticket
                    _id:
                      type: string
                      description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                    name:
                      type: string
                      nullable: true
                      description: The name of the cart item.
                    amount:
                      type: integer
                      minimum: 1
                      description: The amount of the cart item.
                    netPrice:
                      type: number
                      format: float
                      description: The single piece net price of the cart item.
                    price:
                      type: number
                      format: float
                      description: The single piece price of the cart item.
                    taxRate:
                      type: number
                      format: float
                      nullable: true
                      description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
                    triggeredBy:
                      oneOf:
                      - type: string
                        description: An ID of another cart item which triggered the buy action of the cart item.
                      - type: array
                        items:
                          type: string
                        description: An array of IDs of other cart items which triggered the buy action of the cart item.
                      nullable: true
                      description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
                    bundleInfo:
                      type: object
                      properties:
                        bundleId:
                          type: string
                        componentId:
                          type: string
                        optionId:
                          type: string
                      nullable: true
                    ticketTypeId:
                      type: string
                      description: The ID of the ticket type of the cart item.
                    categoryRef:
                      type: string
                      description: The category reference of the ticket type.
                    seatingInfo:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the seating object.
                        _type:
                          type: number
                          format: float
                          enum:
                          - 6
                          - 7
                          description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                        categoryId:
                          type: string
                          description: The ID of the category containing the seating object.
                        statusId:
                          type: string
                          description: The ID of a container holding information about the seating status of the seating object.
                        name:
                          type: string
                          nullable: true
                          description: If _type == 7. The name of the general admission.
                        seatType:
                          type: string
                          nullable: true
                          enum:
                          - handicapped
                          - limitedView
                          - foldable
                          description: If _type == 6. The type of the seat. null = normal.
                        sectionName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the section where the seat is located.
                        groupName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the row group where the seat is located.
                        rowName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the row where the seat is located.
                        seatName:
                          type: string
                          nullable: true
                          description: If _type == 6. The seat name.
                        gate:
                          type: string
                          nullable: true
                          description: The entry gate associated with the seating object.
                      required:
                      - _type
                      - statusId
                      nullable: true
                      description: The associated seating object.
                    slotInfo:
                      type: object
                      properties:
                        slotId:
                          type: string
                          description: The ID of the time slot.
                        slotStartTime:
                          type: string
                          description: The start time of the time slot.
                      required:
                      - slotId
                      - slotStartTime
                      nullable: true
                      description: The associated time slot object.
                    asHardTicket:
                      type: boolean
                      nullable: true
                      description: Whether this ticket is a hard ticket.
                    listingId:
                      type: string
                      nullable: true
                      description: Listing in secondary market.
                    listingItemId:
                      type: string
                      nullable: true
                      description: The ID of the listing item in the secondary market.
                    triggeredAutomations:
                      type: boolean
                      nullable: true
                      description: Whether the cart item triggered automations.
                    meta:
                      type: object
                      nullable: true
                      description: Meta data which is propagated to the ticket.
                    addOns:
                      type: array
                      items:
                        type: object
                        properties:
                          productId:
                            type: string
                          productVariantId:
                            type: string
                          name:
                            type: string
                        required:
                        - productId
                        - productVariantId
                        - name
                      description: A list of Add-Ons of the ticket.
                    capabilities:
                      type: array
                      items:
                        oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - self_service_return
                            settings:
                              type: object
                              properties:
                                returnRelatedItems:
                                  type: boolean
                                  default: true
                                phases:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      condition:
                                        type: object
                                        properties:
                                          target:
                                            type: string
                                            nullable: true
                                            description: The target of the relative date
                                          unit:
                                            type: string
                                            enum:
                                            - hours
                                            - days
                                            - weeks
                                            - months
                                            - years
                                            description: The unit in which the offset is specified
                                          offset:
                                            type: integer
                                            description: The offset to the date
                                        required:
                                        - unit
                                        - offset
                                      refundPercentage:
                                        type: number
                                        format: float
                                        minimum: 0
                                        maximum: 1
                                    required:
                                    - condition
                                    - refundPercentage
                              required:
                              - phases
                          required:
                          - type
                          - settings
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - repersonalization
                            settings:
                              type: object
                              properties:
                                inherit:
                                  type: boolean
                                repersonalizationDeadline:
                                  type: object
                                  properties:
                                    target:
                                      type: string
                                      nullable: true
                                      description: The target of the relative date
                                    unit:
                                      type: string
                                      enum:
                                      - hours
                                      - days
                                      - weeks
                                      - months
                                      - years
                                      description: The unit in which the offset is specified
                                    offset:
                                      type: integer
                                      description: The offset to the date
                                  required:
                                  - unit
                                  - offset
                                repersonalizationsLimit:
                                  type: number
                                  format: float
                                  nullable: true
                                repersonalizationFee:
                                  type: number
                                  format: float
                                  nullable: true
                                limitOnlyNameChanges:
                                  type: boolean
                              required:
                              - repersonalizationDeadline
                          required:
                          - type
                          - settings
                      nullable: true
                      description: The capabilities of the ticket.
                    taxInfo:
                      type: object
                      properties:
                        serviceTypeId:
                          type: string
                          description: The ID of the service type.
                        exceptionId:
                          type: string
                          description: The ID of the exception.
                        proceedsAccountId:
                          type: string
                          description: The ID of the proceeds account.
                        proceedsAccountCode:
                          type: string
                          description: The code of the proceeds account.
                        taxItems:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                nullable: true
                              taxTypeId:
                                type: string
                                nullable: true
                              rate:
                                type: number
                                format: float
                              perUnit:
                                type: number
                                format: float
                              total:
                                type: number
                                format: float
                              netTotal:
                                type: number
                                format: float
                                nullable: true
                              netPerUnit:
                                type: number
                                format: float
                                nullable: true
                              taxPayableAccountId:
                                type: string
                                nullable: true
                              taxPayableAccountCode:
                                type: string
                                nullable: true
                            required:
                            - rate
                            - perUnit
                            - total
                          description: The array of tax items.
                      description: The tax info details.
                  required:
                  - amount
                  - price
                  - ticketTypeId
                description: An array containing all ticket cart items.
              products:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - product
                      description: The type of the cart item.
                    _id:
                      type: string
                      description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                    name:
                      type: string
                      nullable: true
                      description: The name of the cart item.
                    amount:
                      type: integer
                      minimum: 1
                      description: The amount of the cart item.
                    netPrice:
                      type: number
                      format: float
[...]
