openapi: 3.0.3
info:
  title: vivenu access-lists printjob API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: printjob
paths:
  /api/printjob/count:
    get:
      security:
      - jwt: []
      parameters: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
      tags:
      - printjob
      description: Count Print jobs
      operationId: count_print_jobs
  /api/printjob/rich:
    get:
      security:
      - jwt: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: name
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: status
        required: false
        schema:
          type: string
          description: Filter by a comma(,) separated list of statuses
          example: SCHEDULED,PRODUCTION,FULFILLED
          metas: {}
        in: query
        style: form
        explode: true
      - name: fulfillmentTypeId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - printjob
      description: Get all Print jobs
      operationId: get_all_print_jobs
  /api/printjob/{id}:
    get:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - printjob
      description: Get a Print job
      operationId: get_a_print_job
    put:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Printjob_UpdateAPrintJob'
      tags:
      - printjob
      description: Update a Print job
      operationId: update_a_print_job
  /api/printjob/{id}/status:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Printjob_UpdateAPrintJobsStatus'
      tags:
      - printjob
      description: Update a Print job's status
      operationId: update_a_print_jobs_status
components:
  schemas:
    PUT_Printjob_UpdateAPrintJob:
      type: object
      properties:
        name:
          type: string
        transactionId:
          type: string
        destinationAddress:
          type: object
        status:
          type: string
        fulfillmentType:
          type: string
        printingMethod:
          type: string
        sellerId:
          type: string
      required:
      - name
      - transactionId
    POST_Printjob_UpdateAPrintJobsStatus:
      type: object
      properties:
        status:
          type: string
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apikey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
    customer-jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    orgApiKey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
