openapi: 3.2.0
info:
  title: vivenu Packages API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: Packages
paths:
  /api/packages:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Api_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Packages
      operationId: getApiPackages
      summary: Get api packages
      x-summary-source: derived
      x-operation-id-source: derived
  /api/packages/configs:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: name
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Api_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Packages
      operationId: getApiPackagesConfigs
      summary: Get api packages configs
      x-summary-source: derived
      x-operation-id-source: derived
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Api_201_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Api'
      tags:
      - Packages
      operationId: postApiPackagesConfigs
      summary: Create api packages configs
      x-summary-source: derived
      x-operation-id-source: derived
  /api/packages/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Api_200_response'
        '401':
          description: Unauthorized
      tags:
      - Packages
      operationId: getApiPackagesById
      summary: Get api packages by id
      x-summary-source: derived
      x-operation-id-source: derived
  /api/packages/configs/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Api_200_response'
        '401':
          description: Unauthorized
      tags:
      - Packages
      operationId: getApiPackagesConfigsById
      summary: Get api packages configs by id
      x-summary-source: derived
      x-operation-id-source: derived
    put:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUT_Api_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Api'
      tags:
      - Packages
      operationId: putApiPackagesConfigsById
      summary: Replace api packages configs by id
      x-summary-source: derived
      x-operation-id-source: derived
components:
  schemas:
    POST_Api_201_response:
      type: object
      properties:
        _id:
          type: string
        active:
          type: boolean
        name:
          type: string
        slug:
          type: string
        description:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        headerImage:
          type:
          - string
          - 'null'
        sellerId:
          type: string
        variants:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              image:
                type:
                - string
                - 'null'
            required:
            - _id
            - name
        components:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              description:
                type:
                - string
                - 'null'
              minOptions:
                type: number
                format: float
              maxOptions:
                type: number
                format: float
              options:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    eventId:
                      type: string
                    shopId:
                      type: string
                    variants:
                      type: array
                      items:
                        type: object
                        properties:
                          variantId:
                            type: string
                          ticketTypeId:
                            type: string
                          v:
                            type: number
                            format: float
                            description: Ticket volume
                          active:
                            type: boolean
                            description: If ticket type related to variant is active
                        required:
                        - variantId
                        - ticketTypeId
                  required:
                  - _id
                  - eventId
                  - variants
            required:
            - _id
            - name
            - options
        tracking:
          type: object
          properties:
            tagging:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
              required:
              - tags
          required:
          - tagging
        availableSelectionTypes:
          type: array
          items:
            type: string
            enum:
            - INDIVIDUAL
            - SAME_SEAT
            - BEST_AVAILABLE
        sellStart:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale starts.
        sellEnd:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale ends.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - _id
      - active
      - name
      - slug
      - sellerId
      - variants
      - components
      - tracking
      - createdAt
      - updatedAt
    PUT_Api:
      type: object
      properties:
        active:
          type: boolean
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        headerImage:
          type:
          - string
          - 'null'
        variants:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              image:
                type:
                - string
                - 'null'
            required:
            - _id
            - name
        components:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              description:
                type:
                - string
                - 'null'
              minOptions:
                type: number
                format: float
              maxOptions:
                type: number
                format: float
              options:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    eventId:
                      type: string
                    shopId:
                      type: string
                    variants:
                      type: array
                      items:
                        type: object
                        properties:
                          variantId:
                            type: string
                          ticketTypeId:
                            type: string
                          v:
                            type: number
                            format: float
                            description: Ticket volume
                          active:
                            type: boolean
                            description: If ticket type related to variant is active
                        required:
                        - variantId
                        - ticketTypeId
                  required:
                  - _id
                  - eventId
                  - variants
            required:
            - _id
            - name
            - options
        tracking:
          type: object
          properties:
            tagging:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
              required:
              - tags
          required:
          - tagging
        availableSelectionTypes:
          type: array
          items:
            type: string
            enum:
            - INDIVIDUAL
            - SAME_SEAT
            - BEST_AVAILABLE
        sellStart:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale starts.
        sellEnd:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale ends.
    LanguageResource:
      type:
      - string
      - 'null'
      enum:
      - de
      - de-CH
      - en
      - en-GB
      - en-AU
      - fr
      - es
      - es-MX
      - is
      - it
      - ru
      - pt
      - tr
      - nb
      - nl
      - pl
      - sv
      - sl
      - da
      - cs
      - lv
      - he
      - ar
      - th
      - ko
      - ja
      - zh-TW
      description: The preferred language of the package checkout
    POST_Api:
      type: object
      properties:
        amount:
          type: number
          format: float
        variantId:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              componentId:
                type: string
              optionId:
                type: string
              seats:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the seating object.
                    _type:
                      type: number
                      format: float
                      enum:
                      - 6
                      - 7
                      description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                    categoryId:
                      type: string
                      description: The ID of the category containing the seating object.
                    statusId:
                      type: string
                      description: The ID of a container holding information about the seating status of the seating object.
                    name:
                      type:
                      - string
                      - 'null'
                      description: If _type == 7. The name of the general admission.
                    seatType:
                      type:
                      - string
                      - 'null'
                      enum:
                      - handicapped
                      - limitedView
                      - foldable
                      description: If _type == 6. The type of the seat. null = normal.
                    sectionName:
                      type:
                      - string
                      - 'null'
                      description: If _type == 6. The name of the section where the seat is located.
                    groupName:
                      type:
                      - string
                      - 'null'
                      description: If _type == 6. The name of the row group where the seat is located.
                    rowName:
                      type:
                      - string
                      - 'null'
                      description: If _type == 6. The name of the row where the seat is located.
                    seatName:
                      type:
                      - string
                      - 'null'
                      description: If _type == 6. The seat name.
                    gate:
                      type:
                      - string
                      - 'null'
                      description: The entry gate associated with the seating object.
                  required:
                  - _type
                  - statusId
                  description: The associated seating object.
              seatingReservationToken:
                type: string
            required:
            - componentId
            - optionId
        preferredLanguage:
          $ref: '#/components/schemas/LanguageResource'
        salesChannelId:
          type: string
          description: The ID of the sales channel to create the checkout item for.
      required:
      - amount
      - variantId
      - items
    GET_Api_200_response:
      type: object
      properties:
        _id:
          type: string
        active:
          type: boolean
        name:
          type: string
        slug:
          type: string
        description:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        headerImage:
          type:
          - string
          - 'null'
        sellerId:
          type: string
        components:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              description:
                type:
                - string
                - 'null'
              minOptions:
                type: number
                format: float
              maxOptions:
                type: number
                format: float
              options:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    eventId:
                      type: string
                    shopId:
                      type: string
                    variants:
                      type: array
                      items:
                        type: object
                        properties:
                          variantId:
                            type: string
                          ticketTypeId:
                            type: string
                          v:
                            type: number
                            format: float
                            description: Ticket volume
                          active:
                            type: boolean
                            description: If ticket type related to variant is active
                        required:
                        - variantId
                        - ticketTypeId
                  required:
                  - _id
                  - eventId
                  - variants
            required:
            - _id
            - name
            - options
        tracking:
          type: object
          properties:
            tagging:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
              required:
              - tags
          required:
          - tagging
        availableSelectionTypes:
          type: array
          items:
            type: string
            enum:
            - INDIVIDUAL
            - SAME_SEAT
            - BEST_AVAILABLE
        sellStart:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale starts.
        sellEnd:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale ends.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        variants:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              image:
                type:
                - string
                - 'null'
              fromPrice:
                type: number
                format: float
            required:
            - _id
            - name
            - fromPrice
      required:
      - _id
      - active
      - name
      - slug
      - sellerId
      - components
      - tracking
      - createdAt
      - updatedAt
    PUT_Api_200_response:
      type: object
      properties:
        _id:
          type: string
        active:
          type: boolean
        name:
          type: string
        slug:
          type: string
        description:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        headerImage:
          type:
          - string
          - 'null'
        sellerId:
          type: string
        variants:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              image:
                type:
                - string
                - 'null'
            required:
            - _id
            - name
        components:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              name:
                type: string
              description:
                type:
                - string
                - 'null'
              minOptions:
                type: number
                format: float
              maxOptions:
                type: number
                format: float
              options:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    eventId:
                      type: string
                    shopId:
                      type: string
                    variants:
                      type: array
                      items:
                        type: object
                        properties:
                          variantId:
                            type: string
                          ticketTypeId:
                            type: string
                          v:
                            type: number
                            format: float
                            description: Ticket volume
                          active:
                            type: boolean
                            description: If ticket type related to variant is active
                        required:
                        - variantId
                        - ticketTypeId
                  required:
                  - _id
                  - eventId
                  - variants
            required:
            - _id
            - name
            - options
        tracking:
          type: object
          properties:
            tagging:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
              required:
              - tags
          required:
          - tagging
        availableSelectionTypes:
          type: array
          items:
            type: string
            enum:
            - INDIVIDUAL
            - SAME_SEAT
            - BEST_AVAILABLE
        sellStart:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale starts.
        sellEnd:
          type:
          - string
          - 'null'
          format: date-time
          description: An ISO timestamp indicating when the package sale ends.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - _id
      - active
      - name
      - slug
      - sellerId
      - variants
      - components
      - tracking
      - createdAt
      - updatedAt
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apikey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
    customer-jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    orgApiKey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
