openapi: 3.2.0
info:
  title: vivenu Payments API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: Payments
paths:
  /api/payments/gateways/{id}/notification:
    get:
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
      operationId: getApiPaymentsGatewaysByIdNotification
      tags:
      - Payments
      summary: Get api payments gateways by id notification
      x-summary-source: derived
      x-operation-id-source: derived
    post:
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
      operationId: postApiPaymentsGatewaysByIdNotification
      tags:
      - Payments
      summary: Create api payments gateways by id notification
      x-summary-source: derived
      x-operation-id-source: derived
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apikey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
    customer-jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    orgApiKey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
