openapi: 3.0.3
info:
  title: vivenu access-lists events API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: events
paths:
  /api/events:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: name
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: start
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: end
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: sortDir
        schema:
          default: '1'
          type: string
          enum:
          - '1'
          - '-1'
        in: query
        required: false
        style: form
        explode: true
      - name: rootId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: type
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
              enum:
              - SINGLE
              - GROUP
              - RECURRENCE
              - ROOT
        in: query
        required: false
        style: form
        explode: true
      - name: sellerId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: groupEventId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: salesChannelId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: childEvents
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        in: query
        required: false
        style: form
        explode: true
      - name: subscriptionPlanId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: updatedAt
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: createdAt
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: top
        schema:
          default: 25
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          type: integer
          minimum: 1
          maximum: 1000
        description: A limit on the number of objects to be returned. Can range between 1 and 1000.
        in: query
        required: true
        style: form
        explode: true
      - name: skip
        schema:
          default: 0
          description: The number of objects to skip for the requested result
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: The number of objects to skip for the requested result
        in: query
        required: true
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetAllEvents_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - events
      description: Get all Events
      operationId: events/list
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Events_CreateAnEvent'
      tags:
      - events
      description: Create an Event
      operationId: events/create
  /api/events/rich:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: name
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: start
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: end
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: sortDir
        schema:
          default: '1'
          type: string
          enum:
          - '1'
          - '-1'
        in: query
        required: false
        style: form
        explode: true
      - name: rootId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: type
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
              enum:
              - SINGLE
              - GROUP
              - RECURRENCE
              - ROOT
        in: query
        required: false
        style: form
        explode: true
      - name: sellerId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: groupEventId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: salesChannelId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: childEvents
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        in: query
        required: false
        style: form
        explode: true
      - name: subscriptionPlanId
        schema:
          type: string
        in: query
        required: false
        style: form
        explode: true
      - name: updatedAt
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: createdAt
        schema:
          type: object
          properties:
            $gt:
              description: value is greater than
              type: string
              format: date-time
            $gte:
              description: value is greater than or equal
              type: string
              format: date-time
            $lt:
              description: value is less than
              type: string
              format: date-time
            $lte:
              description: value is less than or equal
              type: string
              format: date-time
            $eq:
              description: value is equal
              type: string
              format: date-time
            $ne:
              description: value is not equal
              type: string
              format: date-time
          additionalProperties: false
        in: query
        required: false
        style: deepObject
        explode: true
      - name: top
        schema:
          default: 25
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          type: integer
          minimum: 1
          maximum: 1000
        description: A limit on the number of objects to be returned. Can range between 1 and 1000.
        in: query
        required: true
        style: form
        explode: true
      - name: skip
        schema:
          default: 0
          description: The number of objects to skip for the requested result
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: The number of objects to skip for the requested result
        in: query
        required: true
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetAllEventsRich_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - events
      description: Get all Events Rich
      deprecated: true
      operationId: get_all_events_rich
  /api/events/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - events
      description: Get an Event
      operationId: events/get
    put:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Events_UpdateAnEvent'
      tags:
      - events
      description: Update an Event
      operationId: events/update
    delete:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - events
      description: Delete an Event
      operationId: events/delete
  /api/stats/reports:
    get:
      security:
      - jwt: []
      parameters:
      - name: pos
        required: false
        schema:
          type: boolean
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
      tags:
      - events
      description: Get Event Reports
      operationId: get_event_reports
  /api/events/info/{id}:
    get:
      parameters:
      - name: web
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: underShop
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: posOperationMode
        required: false
        schema:
          type: string
          enum:
          - OPERATOR
          - KIOSK
          metas: {}
        in: query
        style: form
        explode: true
      - name: pos
        required: false
        schema:
          type: boolean
          metas: {}
        in: query
        style: form
        explode: true
      - name: channel
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventInfoResource'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - events
      description: Get Event info
      operationId: get_event_info
  /api/events/public/listings:
    get:
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: startMin
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: startMax
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: endMin
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: endMax
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: sectionURL
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellerId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: orgId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: rootId
        required: false
        schema:
          oneOf:
          - type: array
            items:
              type: string
              metas: {}
            minItems: 0
            metas: {}
          - type: string
            metas: {}
          metas: {}
        in: query
        style: form
        explode: true
      - name: groupEventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventIds
        required: false
        schema:
          type: array
          items:
            type: string
            metas: {}
          minItems: 0
          metas: {}
        in: query
        style: form
        explode: true
      - name: sortBy
        required: false
        schema:
          type: string
          enum:
          - start
          default: start
          metas: {}
        in: query
        style: form
        explode: true
      - name: sortOrder
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
          metas: {}
        in: query
        style: form
        explode: true
      - name: visibleInListing
        required: false
        schema:
          type: boolean
          enum:
          - true
          metas: {}
        in: query
        style: form
        explode: true
      - name: showStartDate
        required: false
        schema:
          type: boolean
          metas: {}
        in: query
        style: form
        explode: true
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventType
        required: false
        schema:
          type: string
          enum:
          - SINGLE
          - GROUP
          - RECURRENCE
          metas: {}
        in: query
        style: form
        explode: true
      - name: underShopId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: attributes
        required: false
        schema:
          type: object
          metas: {}
        in: query
        style: deepObject
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetPublicListingEvents_200_response'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - events
      description: Get public listing events
      operationId: get_public_listing_events
  /api/events/{id}/parents:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetEventParents_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - events
      description: Get Event parents
      operationId: get_event_parents
  /api/events/{id}/parent:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - events
      description: Get Event parent
      deprecated: true
      operationId: get_event_parent
  /api/events/{eventId}/recommendations:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - events
      description: Get more Events
      operationId: get_more_events
  /api/public/events/{id}:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: Get the event for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicEventResource'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - events
      description: Get Public Event
      operationId: get_public_event
  /api/stats/events/status:
    get:
      security:
      - jwt: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetEventsWithStatus_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - events
      description: Get Events with status
      operationId: get_events_with_status
  /api/events/public/listings/{id}:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: underShopId
        required: false
        schema:
          type: string
          description: Get the info for a specific shop
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetPublicListingEvent_200_response'
        '400':
          description: Bad Request
      tags:
      - events
      description: Get public listing event
      operationId: get_public_listing_event
  /api/public/events/{id}/offers:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          oneOf:
          - type: string
            length: 24
            metas: {}
          - type: string
            pattern: ^[a-z]+_.*$
            metas: {}
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Events_GetOffersForAnEvent_200_response'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - events
      description: Get offers for an event
      operationId: events/getOffers
  /api/public/events/{id}/availabilities:
    get:
      parameters:
      - name: shopId
        required: false
        schema:
          type: string
          description: The shop id
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - events
      description: Get Event Availabilities
      operationId: get_event_availabilities
  /api/public/events/{id}/shop:
    get:
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          description: Get the shop for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: shopId
        required: false
        schema:
          type: string
          description: The shop id
          metas: {}
        in: query
        style: form
        explode: true
      - name: channelId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: pos
        required: false
        schema:
          type: boolean
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      tags:
      - events
      description: Get Public Shop
      operationId: get_public_shop
  /api/stats/events/{id}/status:
    get:
      security:
      - jwt: []
      parameters:
      - name: start
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: posId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - events
      description: Get Event Status
      deprecated: true
      operationId: get_event_status
  /api/events/duplicate:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Events_DuplicateAnEvent'
      tags:
      - events
      description: Duplicate an Event
      operationId: duplicate_an_event
  /api/events/{id}/recurrences:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Events_AddRecurrences'
      tags:
      - events
      description: Add Recurrences
      operationId: add_recurrences
  /api/events/{id}/seatmap-share-link:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: The URL of the read-only seatmap share link
                required:
                - url
                additionalProperties: false
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expiresIn:
                  default: 7d
                  type: string
                  enum:
                  - 3d
                  - 7d
                  - 14d
                  - 30d
              required:
              - expiresIn
              additionalProperties: false
      tags:
      - events
      description: Generate a read-only seatmap share link
      operationId: generate_a_read_only_seatmap_share_link
  /api/events/{id}/seating:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Events_SetTheSeatingEventIdOfAnEvent'
      tags:
      - events
      description: Set the seating event id of an event
      operationId: set_the_seating_event_id_of_an_event
  /api/events/{id}/decouple:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - events
      description: Decouple event
      operationId: decouple_event
components:
  schemas:
    POST_Events_SetTheSeatingEventIdOfAnEvent:
      type: object
      properties:
        seatMapId:
          type: string
        revisionId:
          type: string
      required:
      - seatMapId
      - revisionId
    PublicListingEventResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the event
        url:
          type: string
          description: The url of the event
        name:
          type: string
          description: The name of the event
        image:
          type: string
          description: An image for the event
        slogan:
          type: string
          description: The slogan of the event
        sellerId:
          type: string
          description: The ID of the seller owning this event
        start:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event starts
        end:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event ends
        locationName:
          type: string
          description: The name of the location where the event takes place
        locationStreet:
          type: string
          description: The street of the location where the event takes place
        locationCity:
          type: string
          description: The city of the location where the event takes place
        locationPostal:
          type: string
          description: The postal code of the location where the event takes place
        locationCountry:
          type: string
          description: The country code of the location where the event takes place
        styleOptions:
          type: object
          properties:
            headerStyle:
              type: string
              description: Header style of the event page
              default: default
            brandOne:
              type: string
              description: First brand of the event
            brandTwo:
              type: string
              description: Second brand of the event
            hideLocationMap:
              type: boolean
              description: Whether the location map on the event page hide
            hideLocationAddress:
              type: boolean
              description: Whether the location address on the event page hide
            categoryAlignment:
              type: number
              format: float
              enum:
              - cascade
              - asTabs
              - boxes
              - ticketWizard
              - 0
              - 1
              - 2
              - 3
              description: The style of category alignment. 0 = cascade = categories among themselves. 1 = asTabs = categories as tabs. 2 = boxes = categories as boxes. 3 = ticket wizard = categories as ticket wizard if configured.
            showAvailabilityIndicator:
              type: boolean
              description: Whether the availability indicator on the event page should be shown
            availabilityIndicatorThresholds:
              type: array
              items:
                type: number
                format: float
              description: The availability indicator thresholds of the event
              default:
              - 0.3
              - 0.7
            showAvailable:
              type: boolean
              description: Whether to show availability of the time slot. Only applicable for time slot events.
            timeSlotsCheckoutSelection:
              type: string
              enum:
              - beforeTickets
              - afterTickets
              description: Time slots selection in checkout.
          description: Style options of the event page
          default:
            headerStyle: default
            hideLocationMap: false
            hideLocationAddress: false
            categoryAlignment: 0
            showAvailabilityIndicator: false
            availabilityIndicatorThresholds:
            - 0.3
            - 0.7
        accountSettings:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the account settings of the event
            enforceAccounts:
              type: boolean
              description: Whether to enforce accounts for the event
              deprecated: true
            enforceAuthentication:
              type: string
              enum:
              - DISABLED
              - PREVENT_CHECKOUT
              - PREVENT_DETAILS_STEP
              description: Whether to enforce authentication for the event and how to enforce it
              default: DISABLED
          required:
          - _id
          description: Account settings of the event
        meta:
          type: object
          description: Custom key-value data. Metadata is useful for storing additional, structured information on an object.
        eventType:
          type: string
          enum:
          - SINGLE
          - GROUP
          - RECURRENCE
          - ROOT
          description: The type of the event. SINGLE = it is a single event. GROUP = the event is part of a group of events
          default: SINGLE
        childEvents:
          type: array
          items:
            type: string
          description: An array of IDs of child events
        daySchemeId:
          type: string
          description: The ID of the day scheme assigned to the event.
        rootId:
          type: string
          description: The id of the root event
        seoSettings:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the SEO setting
            tags:
              type: array
              items:
                type: string
              description: An array of tags of the seo settings
            noIndex:
              type: boolean
              description: Whether the seo setting has no indexing
            title:
              type: string
              description: The title of the seo settings
            description:
              type: string
              description: The description of the seo settings
          required:
          - _id
          description: The search engine optimization settings of the event
        customSettings:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the custom settings of the event
            hideTicketsInTransactionPage:
              type: boolean
              description: Whether the ticket types of the event should be visible on transaction page
            dontSendTicketMail:
              type: boolean
              description: Whether an email should be sent of tickets of the event
            dontSendBookingConfirmationMail:
              type: boolean
              description: Whether an email should be sent for booking confirmation
            customMailHeaderImage:
              type: string
              description: A custom header image of the mail for ticket types of the event
            customTransactionCompletionText:
              type: string
              description: A custom transaction completion text for completed transactions of the event
            disableAppleWallet:
              type: boolean
              description: 'Whether the Apple and Google Wallet functionality should be disabled on the event. Deprecated: use event.deliverySettings.wallet instead'
              deprecated: true
            disablePdfTickets:
              type: boolean
              description: 'Whether the PDF tickets download functionality should be disabled on the event. Deprecated: use event.deliverySettings.pdf instead'
              deprecated: true
            showStartDate:
              type: boolean
              description: Whether the start date of the event should be visible on listings
              default: true
            showStartTime:
              type: boolean
              description: Whether the start time of the event should be visible on listings
              default: true
            showEndDate:
              type: boolean
              description: Whether the end date of the event should be visible on listings
            showEndTime:
              type: boolean
              description: Whether the end time of the event should be visible on listings
            showTimeRangeInListing:
              type: boolean
              description: Whether the end time of the event should be visible on listings
              deprecated: true
            showTimeRangeInTicket:
              type: boolean
              description: Whether the time range of the event should be visible on ticket PDFs
            customCheckoutCSS:
              type: string
              description: Custom CSS styling of the checkout of the event
            useCustomCheckoutBrand:
              type: boolean
              description: Whether the checkout of the event should use custom brand
            customCheckoutBrand:
              type: string
              description: A custom checkout brand of the event
            hideLogoInCheckout:
              type: boolean
              description: Whether the logo should be hide on the checkout of the event
            customEventPageHTML:
              type: string
              description: A custom HTML of the event page
            customEventPageCSS:
              type: string
              description: A custom css styling of the event page
            customConfirmationPage:
              type: string
              description: A custom css styling of the event page
            hideSeatmapInCheckout:
              type: boolean
              description: Hides the seatmap from the ticket buyer even if seating ticket types are available
            dontSendBookingConfirmationSMS:
              type: boolean
              description: Whether a sms should be sent for booking confirmation
          required:
          - _id
          description: Custom settings of the event
          default: {}
        ticketSettings:
          type: object
          properties:
            cancellationStrategy:
              type: string
              enum:
              - disabled
              - freeTicketsOnly
              - withoutRefund
              description: Cancellation strategy of the ticket types
              default: disabled
            revealingSettings:
              type: object
              properties:
                enabled:
                  type: string
                  nullable: true
                  enum:
                  - ENABLED
                  - DISABLED
                beforeEvent:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
              description: Barcode reveal settings of the event.
            transferSettings:
              type: object
              properties:
                mode:
                  type: string
                  enum:
                  - ALLOWED
                  - DISABLED
                  description: Ticket transfer mode.
                expiresAfter:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
                  description: If 'mode = ALLOWED'. A relatve date specification until when ticket transfer is valid.
                retransferMode:
                  type: string
                  enum:
                  - ALLOWED
                  - DISABLED
                  description: Ticket retransfer mode.
                allowedUntil:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
                  description: If 'mode = ALLOWED'. A relatve date specification until the end of the event where ticket transfer is possible.
                hardTicketsMode:
                  type: string
                  enum:
                  - ALLOWED
                  - DISABLED
                  description: If 'hardTicketsMode = ALLOWED' then hard tickets transfers allowed.
                seasonTicketMode:
                  type: string
                  enum:
                  - NO_RESTRICTION
                  - CHILDREN_ONLY
                  - GROUP_ONLY
                  description: Restrict how season tickets can be transferred.
                useSeasonCardTemplate:
                  type: boolean
                  description: Whether to use the season card template for individual tickets transferred from the season.
              description: Transfer settings of the ticket types
              default: {}
            upgradeSettings:
              type: object
              properties:
                enabled:
                  type: string
                  enum:
                  - ENABLED
                  - DISABLED
                  description: Whether ticket upgrade settings enabled.
                underShopMapping:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - tag
                      tag:
                        type: string
                        description: The customer tag
                      underShopId:
                        type: string
                        description: The ID of the under shop.
                    required:
                    - type
                    - tag
                    - underShopId
                  description: Mapping to define the under shop in which a ticket upgrade will be performed.
              description: Upgrade settings of the ticket types
            resellSettings:
              type: object
              properties:
                enabled:
                  type: string
                  nullable: true
                  enum:
                  - ENABLED
                  - DISABLED
                  description: Whether resell is enabled
                resellerFeeFix:
                  type: number
                  format: float
                  minimum: 0
                  nullable: true
                  description: The fixed fee per ticket that the reseller pays
                resellerFeeVar:
                  type: number
                  format: float
                  minimum: 0
                  nullable: true
                  description: The variable fee per ticket that the reseller pays
                buyerFeeFix:
                  type: number
                  format: float
                  minimum: 0
                  nullable: true
                  description: The fixed fee per ticket that the buyer pays
                buyerFeeVar:
                  type: number
                  format: float
                  minimum: 0
                  nullable: true
                  description: The variable fee per ticket that the buyer pays
                offerCreationStart:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
                  nullable: true
                  description: A relative date specification of offers creation start.
                offerCreationEnd:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
                  nullable: true
                  description: A relative date specification of offers creation end.
                salesStart:
                  type: object
                  properties:
                    target:
                      type: string
                      nullable: true
                      description: The target of the relative date
                    unit:
                      type: string
                      enum:
                      - hours
                      - days
                      - weeks
                      - months
                      - years
                      description: The unit in which the offset is specified
                    offset:
                      type: integer
                      description: The offset to the date
                  required:
                  - unit
                  - offset
                  nullable: true
                  description: A relative date specification of sales start.
                priceMarkup:
                  type: number
                  format: float
                  minimum: -0.5
                  maximum: 3
                  nullable: true
                  description: The markup applied to the price of each ticket bought on the secondary market.
                cartAutomationMode:
                  type: string
                  nullable: true
                  enum:
                  - BLOCKED
                  - INDIVIDUAL
                  description: Controls whether tickets involved in cart automations can be resold.
              description: Resell settings
            barcodeSettings:
              type: object
              properties:
                issueOfflineBarcodes:
                  type: string
                  enum:
                  - ENABLED
                  - DISABLED
                  description: Whether offline barcodes are enabled
              description: Barcode settings
            childEventMapping:
              type: array
              items:
                type: object
                properties:
                  childEventId:
                    type: string
                    description: The child event for this mapping
                  ticketTypeMapping:
                    type: object
                    description: Mapping between ticket types of the parent event and the child events
                  valueShare:
                    type: number
                    format: float
                    minimum: 0
                    maximum: 1
                    nullable: true
                    description: The percentage value of this child event from the value of the parent event
                required:
                - childEventId
                - ticketTypeMapping
              description: Child event mapping
            seasonCardValueStrategy:
              type: string
              enum:
              - childValue
              - averagePerChild
              - sharePerChild
              description: The strategy used to determine the value of a child event in the context of the parent event
          description: The event ticket settings
          default: {}
        groups:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of of the ticket group of the event
              name:
                type: string
                description: The name of the ticket group of the event
              tickets:
                type: array
                items:
                  type: string
                description: An array of ID's of ticket types of the event
            required:
            - _id
            - name
            - tickets
          description: An array of groups of ticket types of the event
        underShopId:
          type: string
          description: The ID of the under shop of the event
        startingPrice:
          type: string
          description: The starting price of the event
        showStartDate:
          type: boolean
          description: Whether to show the start time of the event in listings or not
          default: true
        showEndDate:
          type: boolean
          description: Whether to show the end time of the event in listings or not
        showTimeRangeInListing:
          type: boolean
          description: Whether to show the end time of the event in listings or not
          deprecated: true
        availabilityIndicator:
          type: string
          enum:
          - green
          - yellow
          - red
          description: The availability of the event. It shows whether there are tickets available. green = Enough available tickets. yellow = The tickets are almost sold out. red = There are no more available tickets
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - AUD
          - CHF
          - THB
          - ILS
          - COP
          - MXN
          - DKK
          - NOK
          - SEK
          - QAR
          - CAD
          - ISK
          - GTQ
          - INR
          - DOP
          - SGD
          - PLN
          - SAR
          - TTD
          - ZAR
          - KYD
          - HKD
          - CZK
          - KRW
          - JPY
          - NZD
          - AED
          - MAD
          - TWD
          - BRL
          - BWP
          - NAD
          - KES
          - SCR
          - TRY
          - SZL
          - LSL
          - TZS
          - UGX
          - ZMW
          - ZWG
          - GHS
          - NGN
          - SLE
          - LRD
          - XOF
          - XAF
          - GEL
          - IDR
          - ARS
          - CRC
          - HUF
          - EGP
          - MYR
          - VND
          - PHP
          description: The currency of event tickets prices
        saleStatus:
          type: string
          enum:
          - onSale
          - planned
          - past
          - soldOut
          description: status of event sale
        timezone:
          type: string
          description: Timezone of event
        category:
          type: string
          description: ' '
        subCategory:
          type: string
          description: ' '
        resell:
          type: object
          properties:
            saleActive:
              type: boolean
              description: Whether the event has buying on the secondary market active.
            offerActive:
              type: boolean
              description: Whether the event has selling on the secondary market active.
            fees:
              type: object
              properties:
                buyerFeeFix:
                  type: number
                  format: float
                  description: The fixed fees charged for each ticket to the buyer.
                buyerFeeVar:
                  type: number
                  format: float
                  description: The variable fees charged to the buyer.
              description: Fee information
            priceMarkup:
              type: number
              format: float
              description: The markup applied to the price of each ticket bought on the secondary market.
          description: Resell information
        attributes:
          type: object
      required:
      - _id
      - name
      - start
      - end
    POST_Events_AddRecurrences:
      oneOf:
      - type: object
        properties:
          every:
            type: integer
            minimum: 1
            default: 1
          unit:
            type: string
            enum:
            - WEEK
          from:
            type: string
            format: date-time
          to:
            type: string
            format: date-time
          startTime:
            type: string
            format: date-time
          endTime:
            type: string
            format: date-time
          sellDatesStrategy:
            type: string
            enum:
            - RELATIVE
            - ABSOLUTE
            default: RELATIVE
          sellStartAt:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - ABSOLUTE
            - type: 'null'
          sellEndAt:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - ABSOLUTE
            - type: 'null'
          sellStartOffset:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellEndOffset:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellStartTime:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellEndTime:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          checkinStartOffset:
            type: integer
            minimum: -7
            maximum: 0
          checkinStartTime:
            type: string
            format: date-time
          daySchemeId:
            type: string
            nullable: true
          priceTableTierId:
            type: string
            nullable: true
          repeatsOn:
            type: array
            items:
              type: string
            minItems: 1
        required:
        - unit
        - repeatsOn
      - type: object
        properties:
          every:
            type: integer
            minimum: 1
            default: 1
          from:
            type: string
            format: date-time
          to:
            type: string
            format: date-time
          startTime:
            type: string
            format: date-time
          endTime:
            type: string
            format: date-time
          sellDatesStrategy:
            type: string
            enum:
            - RELATIVE
            - ABSOLUTE
            default: RELATIVE
          sellStartAt:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - ABSOLUTE
            - type: 'null'
          sellEndAt:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - ABSOLUTE
            - type: 'null'
          sellStartOffset:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellEndOffset:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellStartTime:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          sellEndTime:
            oneOf:
            - oneOf:
              - type: array
              - type: boolean
              - type: number
              - type: object
              - type: string
              enum:
              - RELATIVE
            - type: 'null'
          checkinStartOffset:
            type: integer
            minimum: -7
            maximum: 0
          checkinStartTime:
            type: string
            format: date-time
          daySchemeId:
            type: string
            nullable: true
          priceTableTierId:
            type: string
            nullable: true
          repeatsOn:
            oneOf:
            - type: array
            - type: boolean
            - type: number
            - type: object
            - type: string
          unit:
            type: string
            enum:
            - DAY
            - MONTH
        required:
        - unit
    EventResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the event
        sellerId:
          type: string
          description: The ID of the seller owning this event
        name:
          type: string
          description: The name of the event
        slogan:
          type: string
          description: The slogan of the event
        description:
          type: string
          description: A description about the event. Description is in RichText - JSON format.
        locationName:
          type: string
          description: The name of the location where the event takes place
        locationStreet:
          type: string
          description: The street of the location where the event takes place
        locationCity:
          type: string
          description: The city of the location where the event takes place
        locationPostal:
          type: string
          description: The postal code of the location where the event takes place
        locationCountry:
          type: string
          description: The country code of the location where the event takes place
        image:
          type: string
          description: An image for the event
        ticketFooter:
          type: string
          description: A footer image for the ticket PDF of the event
        ticketBackground:
          type: string
          description: A background image for the ticket PDF of the event
        ticketShopHeader:
          type: string
          description: A header image for the ticket shop of the event
        groups:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of of the ticket group of the event
              name:
                type: string
                description: The name of the ticket group of the event
              tickets:
                type: array
                items:
                  type: string
                description: An array of ID's of ticket types of the event
            required:
            - _id
            - name
            - tickets
          description: An array of groups of ticket types of the event
        discountGroups:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the discount group of the event
              name:
                type: string
                description: The name of the discount group of the event
              rules:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the discount group rule
                    group:
                      type: string
                      description: The ID of the discount group
                    type:
                      type: string
                      enum:
                      - ticketGroups
                      - cartSum
                      description: The type of the discount rule. ticketGroups is the type for tickets. cartSum is the type for sum of a cart
                      default: ticketGroups
                    min:
                      type: number
                      format: float
                      description: Minimum amount of tickets where the discount is valid
                    max:
                      type: number
                      format: float
                      description: Maximum amount of tickets where the discount is valid
                  required:
                  - _id
                  - min
                  - max
                description: An array of rules of the discount group
              discountType:
                type: string
                enum:
                - TOTAL
                - PERCENTAGE
                - fix
                - var
                - fixPerItem
                - waiveFees
                description: The type of the discount group. TOTAL = absolute discount. PERCENTAGE = percentage discount. fix = fixed discount. var = variable discount
                default: fix
              value:
                type: number
                format: float
                description: The value of the discount group
            required:
            - _id
            - name
            - value
          description: An array of discount groups of the event
        cartAutomationRules:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the cart automation rule
              name:
                type: string
                description: The name of the automation rule for carts of the event
              triggerType:
                type: string
                enum:
                - hasBeenAdded
                description: The trigger type of the automation rule.
              triggerTargetGroup:
                type: string
                description: The trigger target group of the rule. The ID of a ticket group
              thenType:
                type: string
                enum:
                - autoAdd
                - chooseFrom
                description: The type of thenType of the rule. autoAdd = is the type to add automatically to cart. chooseFrom = is the type to choose from e.g. another ticket group
              thenTargets:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the then target
                    thenTargetGroup:
                      type: string
                      description: The ID of the ticket group 'then' refers to
                    thenTargetMin:
                      type: number
                      format: float
                      description: Minimum amount of tickets where the then action is valid
                    thenTargetMax:
                      type: number
                      format: float
                      description: Maximum amount of tickets where the then action is valid
                  required:
                  - _id
                description: The target of the then type
            required:
            - _id
            - name
            - triggerType
            - triggerTargetGroup
            - thenType
          description: An array of automation rules for carts of the event
        posDiscounts:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the POS discount
              name:
                type: string
                description: The name of the POS discount
              discountType:
                type: string
                enum:
                - TOTAL
                - PERCENTAGE
                - fix
                - var
                - fixPerItem
                - waiveFees
                description: The type of the POS discount
                default: fix
              value:
                type: number
                format: float
                description: The value of the POS discount
            required:
            - _id
            - name
            - value
          description: An array of POS discounts of the event
        categories:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the ticket category of the event
              name:
                type: string
                description: The name of the ticket category of the event
              description:
                type: string
                description: The description of the ticket category of the event
              seatingReference:
                type: string
                description: The ID of the seating category
              ref:
                type: string
                description: The reference to identify the seating category
              amount:
                type: number
                format: float
                description: The amount of available tickets of the category of the event
              recommendedTicket:
                type: string
                description: Recommended ticket of the category
              maxAmountPerOrder:
                type: number
                format: float
                description: Maximum amount per order of the category
              listWithoutSeats:
                type: boolean
                description: Whether this category can be sold without seats
            required:
            - _id
            - name
          description: An array of ticket categories of the event
        tickets:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the ticket type of the event
              name:
                type: string
                description: The name of the ticket type of the event
              description:
                type: string
                description: The description of the ticket type of the event
              image:
                type: string
                description: The image of the ticket type of the event
              color:
                type: string
                description: The font color of the ticket type of the event
              price:
                type: number
                format: float
                description: The price of the ticket type of the event
              amount:
                type: number
                format: float
                description: The amount of the ticket type of the event
              active:
                type: boolean
                description: Whether the ticket type of the event is active
                default: true
              posActive:
                type: boolean
                description: Whether POS for the ticket type of the event is active
              categoryRef:
                type: string
                description: The reference of the category of the ticket type of the event
              ignoredForStartingPrice:
                type: boolean
                description: Whether the price of the ticket type should be ignored on starting price determination of the event
              conditionalAvailability:
                type: boolean
                description: Whether rules can be operated on the ticket type
              ticketBackground:
                type: string
                description: The background for the ticket PDF of the ticket type
              rules:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the ticket type rule
                    ticketGroup:
                      type: string
                      description: The ID of the ticket group to operate the rule on
                    min:
                      type: number
                      format: float
                      description: Minimum amount of tickets where the rule is active
                    max:
                      type: number
                      format: float
                      description: Maximum amount of tickets where the rule is active
                  required:
                  - _id
                  - ticketGroup
                  - min
                  - max
                description: An array of rules for the ticket type of the event
              requiresPersonalization:
                type: boolean
                description: Deprecated, use `requiresPersonalizationMode` instead
                deprecated: true
              requiresPersonalizationMode:
                type: string
                nullable: true
                enum:
                - ENABLED
                - DISABLED
                description: Whether the ticket type of the event needs personalization
              requiresExtraFields:
                type: boolean
                description: Deprecated, use `requiresExtraFieldsMode` instead
                deprecated: true
              requiresExtraFieldsMode:
                type: string
                nullable: true
                enum:
                - ENABLED
                - DISABLED
                description: Whether the ticket type of the event needs extra fields
              repersonalizationAllowedMode:
                type: string
                nullable: true
                enum:
                - ENABLED
                - DISABLED
                description: Whether re-personalization (name changes) is allowed for this ticket type. When unset, inherits the event-level `repersonalizationAllowed`. Enables flex-ticket-like re-personalization without an addon.
              repersonalizationFee:
                type: number
                format: float
                nullable: true
                description: The per-ticket fee for repersonalization.
              sortingKey:
                type: number
                format: float
                description: The key to sort the ticket type within the ticket group
              enableHardTicketOption:
                type: boolean
                description: Whether the ticket type is a hard ticket
              forceHardTicketOption:
                type: boolean
                description: Whether to force the hard ticket option
              maxAmountPerOrder:
                type: number
                format: float
                description: Maximum amount per order of the ticket type
              minAmountPerOrder:
                type: number
                format: float
                description: Minimum amount per order of the ticket type
              minAmountPerOrderRule:
                type: number
                format: float
                description: Minimum amount of the ticket type, where the minAmountPerOrder goes active
              taxRate:
                type: number
                format: float
                description: The tax rate of the ticket type of the event
              styleOptions:
                type: object
                properties:
                  thumbnailImage:
                    type: string
                    description: Thumbnail of the ticket type, which will be displayed on checkout
                  showAvailable:
                    type: boolean
                    description: Whether to show availability of the ticket type
                  hiddenInSelectionArea:
                    type: boolean
                    description: Whether to show this ticket in the selection area
                description: Style options of the ticket type
                default: {}
              priceCategoryId:
                type: string
                description: The ID of the price category of the ticket type
              entryPermissions:
                type: array
                items:
                  type: string
                description: An array of IDs of entry permissions where the ticket buyer has access to certain areas
                default: []
              ignoreForMaxAmounts:
                type: boolean
                description: Do not include tickets if this typw when calculating available amount in categories and event
              expirationSettings:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether expiration enabled for the event ticket types
                  expiresAfter:
                    type: object
                    properties:
                      target:
                        type: string
                        nullable: true
                        description: The target of the relative date
                      unit:
                        type: string
                        enum:
                        - hours
                        - days
                        - weeks
                        - months
                        - years
                        description: The unit in which the offset is specified
                      offset:
                        type: integer
                        description: The offset to the date
                    required:
                    - unit
                    - offset
                    description: If enabled = true. A relatve date specification until when ticket is valid.
                description: Expiration settings of the ticket type.
                default: {}
              barcodePrefix:
                type: string
                maxLength: 2
                description: Characters that precede the barcodes of tickets.
              salesStart:
                type: object
                properties:
                  target:
                    type: string
                    nullable: true
                    description: The target of the relative date
                  unit:
                    type: string
                    enum:
                    - hours
                    - days
                    - weeks
                    - months
                    - years
                    description: The unit in which the offset is specified
                  offset:
                    type: integer
                    description: The offset to the date
                required:
                - unit
                - offset
                nullable: true
                description: A relative date before the end of the event, when the sale of this ticket type starts
              salesEnd:
                type: object
                properties:
                  target:
                    type: string
                    nullable: true
                    description: The target of the relative date
                  unit:
                    type: string
                    enum:
                    - hours
                    - days
                    - weeks
                    - months
                    - years
                    description: The unit in which the offset is specified
                  offset:
                    type: integer
                    description: The offset to the date
                required:
                - unit
                - offset
                nullable: true
                description: A relative date before the end of the event, when the sale of this ticket type ends
              transferSettings:
                type: object
                properties:
                  mode:
                    type: string
                    enum:
                    - ALLOWED
                    - DISABLED
                    description: Ticket transfer mode.
                  expiresAfter:
                    type: object
                    properties:
                      target:
                        type: string
                        nullable: true
                        description: The target of the relative date
                      unit:
                        type: string
                        enum:
                        - hours
                        - days
                        - weeks
                        - months
                        - years
                        description: The unit in which the offset is specified
                      offset:
                        type: integer
                        description: The offset to the date
                    required:
                    - unit
                    - offset
                    description: If 'mode = ALLOWED'. A relatve date specification until when ticket transfer is valid.
                  retransferMode:
                    type: string
                    enum:
                    - ALLOWED
                    - DISABLED
                    description: Ticket retransfer mode.
                  allowedUntil:
                    type: object
                    properties:
                      target:
                        type: string
                        nullable: true
                        description: The target of the relative date
                      unit:
                        type: string
                        enum:
                        - hours
                        - days
                        - weeks
                        - months
                        - years
                        description: The unit in which the offset is specified
                      offset:
                        type: integer
                        description: The offset to the date
                    required:
                    - unit
                    - offset
                    description: If 'mode = ALLOWED'. A relatve date specification until the end of the event where ticket transfer is possible.
                  hardTicketsMode:
                    type: string
                    enum:
                    - ALLOWED
                    - DISABLED
                    description: If 'hardTicketsMode = ALLOWED' then hard tickets transfers allowed.
                  seasonTicketMode:
                    type: string
                    enum:
                    - NO_RESTRICTION
                    - CHILDREN_ONLY
                    - GROUP_ONLY
                    description: Restrict how season tickets can be transferred.
                description: Transfer settings of the ticket type.
                default: {}
              scanSettings:
                type: object
                properties:
                  feedback:
                    type: string
                    enum:
                    - highlight
                    description: Feedback mode during scanning of the ticket
                  allowedScanCount:
                    type: number
                    format: float
                    minimum: 1
                    description: Number of times a ticket is allowed to be scanned as valid
                description: Scan settings of the ticket type.
              deliverySettings:
                type: object
                properties:
                  wallet:
                    type: object
                    properties:
                      enabled:
                        type: string
                        nullable: true
                        enum:
                        - ENABLED
                        - DISABLED
                  pdf:
                    type: object
                    properties:
                      enabled:
                        type: string
                        nullable: true
                        enum:
                        - ENABLED
                        - DISABLED
                description: Delivery settings of the ticket type.
              meta:
                type: object
                description: Custom key-value data. Metadata is useful for storing additional, structured information on an object.
              revealingSettings:
                type: object
                properties:
                  enabled:
                    type: string
                    nullable: true
                    enum:
                    - ENABLED
                    - DISABLED
                  beforeEvent:
                    type: object
                    properties:
                      target:
                        type: string
                        nullable: true
                        description: The target of the relative date
                      unit:
                        type: string
                        enum:
                        - hours
                        - days
                        - weeks
                        - months
                        - years
                        description: The unit in which the offset is specified
                      offset:
                        type: integer
                        description: The offset to the date
                    required:
                    - unit
                    - offset
                description: Barcode reveal settings of the ticket type.
            required:
            - _id
            - name
            - price
            - amount
            - active
          description: An array of ticket types of the event
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event was created
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event was updated
        start:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event starts
        end:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event ends
        sellStart:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event sale starts
        sellEnd:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event sale ends
        maxAmount:
          type: number
          format: float
          description: Maximum amount of tickets of the event
        maxAmountPerOrder:
          type: number
          format: float
          description: Maximum amount of tickets per order of the event
        maxAmountPerCustomer:
          type: number
          format: float
          description: Maximum amount of tickets per customer of the event
        maxTransactionsPerCustomer:
          type: number
          format: float
          description: Maximum amount of transactions per customer of the event
        minAmountPerOrder:
          type: number
          format: float
          description: Minimum amount of tickets per order
          default: 1
        customerTags:
          type: array
          items:
            type: string
          description: An array of customer tags of the event
          default: []
        customerSegments:
          type: array
          items:
            type: string
          description: An array of customer segments of the event
          default: []
        showCountdown:
          type: boolean
          description: Whether the countdown should be visible till event start
        hideInListing:
          type: boolean
          description: Whether the event should be hide in listings
        visibleAfter:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the event is visible in listings.
        customSettings:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the custom settings of the event
            hideTicketsInTransactionPage:
              type: boolean
              description: Whether the ticket types of the event should be visible on transaction page
            dontSendTicketMail:
              type: boolean
              description: Whether an email should be sent of tickets of the event
            dontSendBookingConfirmationMail:
              type: boolean
              description: Whether an email should be sent for booking confirmation
            customMailHeaderImage:
              type: string
              description: A custom header image of the mail for ticket types of the event
            customTransactionCompletionText:
              type: string
              description: A custom transaction completion text for completed transactions of the event
            disableAppleWallet:
              type: boolean
              description: 'Whether the Apple and Google Wallet functionality should be disabled on the event. Deprecated: use event.deliverySettings.wallet instead'
              deprecated: true
            disablePdfTickets:
              type: boolean
              description: 'Whether the PDF tickets download functionality should be disabled on the event. Deprecated: use event.deliverySettings.pdf instead'
              deprecated: true
            showStartDate:
              type: boolean
              description: Whether the start date of the event should be visible on listings
              default: true
            showStartTime:
              type: boolean
              description: Whether the start time of the event should be visible on listings
              default: true
            showEndDate:
              type: boolean
              description: Whether the end date of the event should be visible on listings
            showEndTime:
              type: boolean
              description: Whether the end time of the event should be visible on listings
            showTimeRangeInListing:
              type: boolean
              description: Whether the end time of the event should be visible on listings
              deprecated: true
            showTimeRangeInTicket:
              type: boolean
              description: Whether the time range of the event should be visible on ticket PDFs
            customCheckoutCSS:
              type: string
              description: Custom CSS styling of the checkout of the event
            useCustomCheckoutBrand:
              type: boolean
              description: Whether the checkout of the event should use custom brand
            customCheckoutBrand:
              type: string
              description: A custom checkout brand of the event
            hideLogoInCheckout:
              type: boolean
              description: Whether the logo should be hide on the checkout of the event
            customEventPageHTML:
              type: string
              description: A custom HTML of the event page
            customEventPageCSS:
              type: string
              description: A custom css styling of the event page
            customConfirmationPage:
              type: string
              description: A custom css styling of the event page
            hideSeatmapInCheckout:
              type: boolean
              description: Hides the seatmap from the ticket buyer even if seating ticket types are available
            dontSendBookingConfirmationSMS:
              type: boolean
              description: Whether a sms should be sent for booking confirmation
          required:
          - _id
          description: Custom settings of the event
          default: {}
        extraFields:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the extra field
              name:
                type: string
                description: The name of the extra field
              description:
                type: string
                description: The description of the extra field
[...]
