openapi: 3.0.3
info:
  title: vivenu access-lists customers API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: customers
paths:
  /api/customers/me:
    get:
      security:
      - customer-jwt: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get current customer
      operationId: get_current_customer
    post:
      security:
      - customer-jwt: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Customers_UpdateCurrentCustomer'
      tags:
      - customers
      description: Update current customer
      operationId: update_current_customer
  /api/customers/rich:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: name
        required: false
        schema:
          type: string
          description: The name of the customer collected from prename and lastname
          metas: {}
        in: query
        style: form
        explode: true
      - name: email
        required: false
        schema:
          type: string
          description: The email of the customer
          metas: {}
        in: query
        style: form
        explode: true
      - name: company
        required: false
        schema:
          type: string
          description: The company of the customer
          metas: {}
        in: query
        style: form
        explode: true
      - name: tags
        required: false
        schema:
          type: string
          description: Tags of the customer
          metas: {}
        in: query
        style: form
        explode: true
      - name: updatedAt
        required: false
        schema:
          type: object
          properties:
            $gt:
              type: string
              format: date-time
              description: value is greater than
              metas: {}
            $gte:
              type: string
              format: date-time
              description: value is greater than or equal
              metas: {}
            $lt:
              type: string
              format: date-time
              description: value is less than
              metas: {}
            $lte:
              type: string
              format: date-time
              description: value is less than or equal
              metas: {}
            $eq:
              type: string
              format: date-time
              description: value is equal
              metas: {}
            $ne:
              type: string
              format: date-time
              description: value is not equal
              metas: {}
          description: Range of dates indicating when the customer was last updated in ISO format.
          metas: {}
        in: query
        style: deepObject
        explode: true
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetAllCustomers_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get all Customers
      operationId: customers/list
  /api/customers/tags:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetAllCustomerTags_200_response'
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get all Customer tags
      operationId: get_all_customer_tags
  /api/customers/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the customer
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - customers
      description: Get Customer
      operationId: customers/get
    put:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the customer
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Customers_UpdateCustomer'
      tags:
      - customers
      description: Update Customer
      operationId: customers/update
    delete:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the customer
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Delete Customer
      operationId: customers/delete
  /api/customers/me/payment-plans:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get payment plans of customer
      operationId: get_payment_plans_of_customer
  /api/customers/me/purchaseintents:
    get:
      security:
      - customer-jwt: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetPurchaseIntentsOfCustomer_200_response'
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get PurchaseIntents of customer
      operationId: get_purchase_intents_of_customer
  /api/customers/me/resell-offers:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: status
        required: false
        schema:
          type: string
          enum:
          - ACTIVE
          - SOLD
          - CANCELED
          description: Status of the offers
          metas: {}
        in: query
        style: form
        explode: true
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetResellOffersOfCustomer_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get Resell Offers of Customer
      operationId: customers/getCustomerResellOffers
  /api/customers/me/shops:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: eventId
        required: true
        schema:
          type: string
          description: The event ID to get the undershops of the customer
          metas: {}
        in: query
        style: form
        explode: true
      - name: locale
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetUndershopsOfCustomer_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get undershops of customer
      operationId: get_undershops_of_customer
  /api/customers/me/subscriptions:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get subscriptions of customer
      operationId: get_subscriptions_of_customer
  /api/customers/me/ticket-transfers:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: origin
        required: false
        schema:
          type: string
          enum:
          - customer
          - stubhub
          description: The origin of ticket transfer
          metas: {}
        in: query
        style: form
        explode: true
      - name: isSender
        required: false
        schema:
          type: boolean
          enum:
          - true
          description: Whether customer is the sender of ticket transfer
          metas: {}
        in: query
        style: form
        explode: true
      - name: isRecipient
        required: false
        schema:
          type: boolean
          enum:
          - true
          description: Whether customer is the recipient of ticket transfer
          metas: {}
        in: query
        style: form
        explode: true
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetTicketTransfersOfCustomer_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get Ticket Transfers of Customer
      operationId: customers/getCustomerTicketTransfers
  /api/customers/me/tickets:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: top
        required: false
        schema:
          type: integer
          maximum: 1000
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: integer
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetTicketsOfCustomer_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get tickets of customer
      operationId: get_tickets_of_customer
  /api/customers/me/transactions:
    get:
      security:
      - customer-jwt: []
      parameters:
      - name: locale
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: subscriptionId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: checkoutId
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_GetTransactionsOfCustomer_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Get transactions of customer
      operationId: get_transactions_of_customer
  /api/customers/password-reset/{token}:
    get:
      parameters:
      - name: sellerId
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: token
        required: true
        schema:
          type: string
          minLength: 1
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Customers_ResetPassword_200_response'
        '400':
          description: Bad Request
      tags:
      - customers
      description: Reset password
      operationId: reset_password
    put:
      parameters:
      - name: token
        required: true
        schema:
          type: string
          minLength: 1
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUT_Customers_SetANewPassword_200_response'
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Customers_SetANewPassword'
      tags:
      - customers
      description: Set a new password
      operationId: set_a_new_password
  /api/customers/{id}/balance:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the customer
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - customers
      description: Get Customer Balance
      operationId: customers/getCustomerBalance
  /api/customers:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Customers_CreateCustomer'
      tags:
      - customers
      description: Create Customer
      operationId: customers/create
  /api/customers/login:
    post:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Customers_LoginCustomer_200_response'
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Customers_LoginCustomer'
      tags:
      - customers
      description: Login customer
      operationId: login_customer
  /api/customers/password-reset:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Customers_RequestAPasswordResetMail'
      tags:
      - customers
      description: Request a password reset mail
      operationId: request_a_password_reset_mail
  /api/customers/register:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sellerId:
                  type: string
                  description: The ID of the seller to register for
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                  description: The email of the customer
                password:
                  type: string
                  minLength: 9
                  description: The password of the customer
                prename:
                  type: string
                  minLength: 1
                  description: The first name of the customer
                lastname:
                  type: string
                  minLength: 1
                  description: The last name of the customer
                company:
                  description: The company of the customer
                  type: string
                consents:
                  type: array
                  items:
                    type: object
                    properties:
                      consentId:
                        type: string
                      status:
                        type: string
                        enum:
                        - granted
                        - denied
                    required:
                    - consentId
                    - status
                    additionalProperties: false
                verificationMethod:
                  default: email
                  description: How the customer verifies the account
                  type: string
                  enum:
                  - email
                  - otp
              required:
              - sellerId
              - email
              - password
              - prename
              - lastname
              - verificationMethod
              additionalProperties: false
      tags:
      - customers
      description: Register as a customer
      operationId: register_as_a_customer
  /api/customers/verify/resend:
    post:
      security:
      - customer-jwt: []
      parameters: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Resend verification mail
      operationId: resend_verification_mail
  /api/customers/verify/{token}:
    post:
      parameters:
      - name: sellerId
        required: true
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: token
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Customers_VerifyACustomer_200_response'
        '400':
          description: Bad Request
      tags:
      - customers
      description: Verify a Customer
      operationId: verify_a_customer
  /api/customers/{id}/erase-data:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        schema:
          type: string
        required: true
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - customers
      description: Erase Customer data
      operationId: erase_customer_data
  /api/customers/{id}/account:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the customer
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Customers_CreateAccountForCustomer'
      tags:
      - customers
      description: Create account for Customer
      operationId: create_account_for_customer
  /api/customers/me/passkeys/{credentialId}:
    delete:
      security:
      - customer-jwt: []
      parameters:
      - name: credentialId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - customers
      description: Delete customer passkey
      operationId: delete_customer_passkey
components:
  schemas:
    POST_Customers_VerifyACustomer_200_response:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - true
      required:
      - ok
    GET_Customers_ResetPassword_200_response:
      type: object
      properties:
        passwordResetToken:
          type: string
      required:
      - passwordResetToken
    GET_Customers_GetResellOffersOfCustomer_200_response:
      type: object
      properties:
        docs:
          type: array
          items:
            $ref: '#/components/schemas/PublicResellOfferInfoResource'
        total:
          type: integer
    POST_Customers_RequestAPasswordResetMail:
      type: object
      properties:
        sellerId:
          type: string
        email:
          type: string
          format: email
      required:
      - sellerId
      - email
    PublicPurchaseIntentResource:
      type: object
      properties:
        _id:
          type: string
        status:
          type: string
          enum:
          - new
          - complete
          - canceled
        approvalStatus:
          type: string
          enum:
          - awaiting
          - approved
          - rejected
        rejectionReason:
          type: string
        company:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        customerId:
          type: string
        address:
          type: object
          properties:
            fullAddress:
              type: string
              nullable: true
              description: Optional full address
            street:
              type: string
              nullable: true
              description: The street of the address. Street name including number.
            line2:
              type: string
              nullable: true
              description: The additional field of the address.
            postal:
              type: string
              nullable: true
              description: The postal code of the address.
            city:
              type: string
              nullable: true
              description: The city of the address.
            country:
              type: string
              nullable: true
              description: The country of the address. An ISO 3166 country code.
            state:
              type: string
              nullable: true
              description: The state of the address. If applicable
        deliveryAddress:
          type: object
          properties:
            fullAddress:
              type: string
              nullable: true
              description: Optional full address
            street:
              type: string
              nullable: true
              description: The street of the address. Street name including number.
            line2:
              type: string
              nullable: true
              description: The additional field of the address.
            postal:
              type: string
              nullable: true
              description: The postal code of the address.
            city:
              type: string
              nullable: true
              description: The city of the address.
            country:
              type: string
              nullable: true
              description: The country of the address. An ISO 3166 country code.
            state:
              type: string
              nullable: true
              description: The state of the address. If applicable
            name:
              type: string
              description: The name of the person receiving delivery.
        identification:
          type: array
          items:
            $ref: '#/components/schemas/LegalIdentificationDocumentResource'
          description: An array of identification items
        sellerId:
          type: string
        eventId:
          type: string
        shopId:
          type: string
        strategyId:
          type: string
        vouchers:
          type: array
          items:
            type: string
        appliedCoupons:
          type: array
          items:
            oneOf:
            - type: array
            - type: boolean
            - type: number
            - type: object
            - type: string
        regularPrice:
          type: number
          format: float
        realPrice:
          type: number
          format: float
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - AUD
          - CHF
          - THB
          - ILS
          - COP
          - MXN
          - DKK
          - NOK
          - SEK
          - QAR
          - CAD
          - ISK
          - GTQ
          - INR
          - DOP
          - SGD
          - PLN
          - SAR
          - TTD
          - ZAR
          - KYD
          - HKD
          - CZK
          - KRW
          - JPY
          - NZD
          - AED
          - MAD
          - TWD
          - BRL
          - BWP
          - NAD
          - KES
          - SCR
          - TRY
          - SZL
          - LSL
          - TZS
          - UGX
          - ZMW
          - ZWG
          - GHS
          - NGN
          - SLE
          - LRD
          - XOF
          - XAF
          - GEL
          - IDR
          - ARS
          - CRC
          - HUF
          - EGP
          - MYR
          - VND
          - PHP
        innerFeeComponents:
          oneOf:
          - type: array
          - type: boolean
          - type: number
          - type: object
          - type: string
        innerCharge:
          type: number
          format: float
        outerFeeComponents:
          oneOf:
          - type: array
          - type: boolean
          - type: number
          - type: object
          - type: string
        outerCharge:
          type: number
          format: float
        tickets:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ticket
                description: The type of the cart item.
                default: ticket
              _id:
                type: string
                description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
              name:
                type: string
                nullable: true
                description: The name of the cart item.
              amount:
                type: integer
                minimum: 1
                description: The amount of the cart item.
              netPrice:
                type: number
                format: float
                description: The single piece net price of the cart item.
              price:
                type: number
                format: float
                description: The single piece price of the cart item.
              taxRate:
                type: number
                format: float
                nullable: true
                description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
              triggeredBy:
                oneOf:
                - type: string
                  description: An ID of another cart item which triggered the buy action of the cart item.
                - type: array
                  items:
                    type: string
                  description: An array of IDs of other cart items which triggered the buy action of the cart item.
                nullable: true
                description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
              bundleInfo:
                type: object
                properties:
                  bundleId:
                    type: string
                  componentId:
                    type: string
                  optionId:
                    type: string
                nullable: true
              ticketTypeId:
                type: string
                description: The ID of the ticket type of the cart item.
              categoryRef:
                type: string
                description: The category reference of the ticket type.
              seatingInfo:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the seating object.
                  _type:
                    type: number
                    format: float
                    enum:
                    - 6
                    - 7
                    description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                  categoryId:
                    type: string
                    description: The ID of the category containing the seating object.
                  statusId:
                    type: string
                    description: The ID of a container holding information about the seating status of the seating object.
                  name:
                    type: string
                    nullable: true
                    description: If _type == 7. The name of the general admission.
                  seatType:
                    type: string
                    nullable: true
                    enum:
                    - handicapped
                    - limitedView
                    - foldable
                    description: If _type == 6. The type of the seat. null = normal.
                  sectionName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the section where the seat is located.
                  groupName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the row group where the seat is located.
                  rowName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the row where the seat is located.
                  seatName:
                    type: string
                    nullable: true
                    description: If _type == 6. The seat name.
                  gate:
                    type: string
                    nullable: true
                    description: The entry gate associated with the seating object.
                required:
                - _type
                - statusId
                nullable: true
                description: The associated seating object.
              slotInfo:
                type: object
                properties:
                  slotId:
                    type: string
                    description: The ID of the time slot.
                  slotStartTime:
                    type: string
                    description: The start time of the time slot.
                required:
                - slotId
                - slotStartTime
                nullable: true
                description: The associated time slot object.
              asHardTicket:
                type: boolean
                nullable: true
                description: Whether this ticket is a hard ticket.
              listingId:
                type: string
                nullable: true
                description: Listing in secondary market.
              listingItemId:
                type: string
                nullable: true
                description: The ID of the listing item in the secondary market.
              triggeredAutomations:
                type: boolean
                nullable: true
                description: Whether the cart item triggered automations.
              meta:
                type: object
                nullable: true
                description: Meta data which is propagated to the ticket.
              addOns:
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: string
                    productVariantId:
                      type: string
                    name:
                      type: string
                  required:
                  - productId
                  - productVariantId
                  - name
                description: A list of Add-Ons of the ticket.
              capabilities:
                type: array
                items:
                  oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - self_service_return
                      settings:
                        type: object
                        properties:
                          returnRelatedItems:
                            type: boolean
                            default: true
                          phases:
                            type: array
                            items:
                              type: object
                              properties:
                                condition:
                                  type: object
                                  properties:
                                    target:
                                      type: string
                                      nullable: true
                                      description: The target of the relative date
                                    unit:
                                      type: string
                                      enum:
                                      - hours
                                      - days
                                      - weeks
                                      - months
                                      - years
                                      description: The unit in which the offset is specified
                                    offset:
                                      type: integer
                                      description: The offset to the date
                                  required:
                                  - unit
                                  - offset
                                refundPercentage:
                                  type: number
                                  format: float
                                  minimum: 0
                                  maximum: 1
                              required:
                              - condition
                              - refundPercentage
                        required:
                        - phases
                    required:
                    - type
                    - settings
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - repersonalization
                      settings:
                        type: object
                        properties:
                          inherit:
                            type: boolean
                          repersonalizationDeadline:
                            type: object
                            properties:
                              target:
                                type: string
                                nullable: true
                                description: The target of the relative date
                              unit:
                                type: string
                                enum:
                                - hours
                                - days
                                - weeks
                                - months
                                - years
                                description: The unit in which the offset is specified
                              offset:
                                type: integer
                                description: The offset to the date
                            required:
                            - unit
                            - offset
                          repersonalizationsLimit:
                            type: number
                            format: float
                            nullable: true
                          repersonalizationFee:
                            type: number
                            format: float
                            nullable: true
                          limitOnlyNameChanges:
                            type: boolean
                        required:
                        - repersonalizationDeadline
                    required:
                    - type
                    - settings
                nullable: true
                description: The capabilities of the ticket.
              taxInfo:
                type: object
                properties:
                  serviceTypeId:
                    type: string
                    description: The ID of the service type.
                  exceptionId:
                    type: string
                    description: The ID of the exception.
                  proceedsAccountId:
                    type: string
                    description: The ID of the proceeds account.
                  proceedsAccountCode:
                    type: string
                    description: The code of the proceeds account.
                  taxItems:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          nullable: true
                        taxTypeId:
                          type: string
                          nullable: true
                        rate:
                          type: number
                          format: float
                        perUnit:
                          type: number
                          format: float
                        total:
                          type: number
                          format: float
                        netTotal:
                          type: number
                          format: float
                          nullable: true
                        netPerUnit:
                          type: number
                          format: float
                          nullable: true
                        taxPayableAccountId:
                          type: string
                          nullable: true
                        taxPayableAccountCode:
                          type: string
                          nullable: true
                      required:
                      - rate
                      - perUnit
                      - total
                    description: The array of tax items.
                description: The tax info details.
            required:
            - amount
            - price
            - ticketTypeId
        products:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - product
                description: The type of the cart item.
              _id:
                type: string
                description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
              name:
                type: string
                nullable: true
                description: The name of the cart item.
              amount:
                type: integer
                minimum: 1
                description: The amount of the cart item.
              netPrice:
                type: number
                format: float
                description: The single piece net price of the cart item.
              price:
                type: number
                format: float
                description: The single piece price of the cart item.
              taxRate:
                type: number
                format: float
                nullable: true
                description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
              triggeredBy:
                oneOf:
                - type: string
                  description: An ID of another cart item which triggered the buy action of the cart item.
                - type: array
                  items:
                    type: string
                  description: An array of IDs of other cart items which triggered the buy action of the cart item.
                nullable: true
                description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
              bundleInfo:
                type: object
                properties:
                  bundleId:
                    type: string
                  componentId:
                    type: string
                  optionId:
                    type: string
                nullable: true
              productVariantId:
                type: string
                description: The ID of the product variant.
              isFulfillable:
                type: boolean
                description: Whether the product can be delivered
              taxInfo:
                type: object
                properties:
                  serviceTypeId:
                    type: string
                    description: The ID of the service type.
                  exceptionId:
                    type: string
                    description: The ID of the exception.
                  proceedsAccountId:
                    type: string
                    description: The ID of the proceeds account.
                  proceedsAccountCode:
                    type: string
                    description: The code of the proceeds account.
                  taxItems:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          nullable: true
                        taxTypeId:
                          type: string
                          nullable: true
                        rate:
                          type: number
                          format: float
                        perUnit:
                          type: number
                          format: float
                        total:
                          type: number
                          format: float
                        netTotal:
                          type: number
                          format: float
                          nullable: true
                        netPerUnit:
                          type: number
                          format: float
                          nullable: true
                        taxPayableAccountId:
                          type: string
                          nullable: true
                        taxPayableAccountCode:
                          type: string
                          nullable: true
                      required:
                      - rate
                      - perUnit
                      - total
                    description: The array of tax items.
                description: The tax info details.
            required:
            - type
            - amount
            - price
            - productVariantId
        additionalItems:
          type: array
          items:
            oneOf:
            - type: object
              properties:
                itemId:
                  type: string
                  description: The ID of the item.
                type:
                  type: string
                  enum:
                  - bundle
                  description: The type of the additional item.
                netPrice:
                  type: number
                  format: float
                  description: The single piece net price of the additional item.
                price:
                  type: number
                  format: float
                  description: The single piece price of the additional item.
                taxRate:
                  type: number
                  format: float
                  nullable: true
                  description: The tax rate to be applied to this additional item.
                taxInfo:
                  type: object
                  properties:
                    serviceTypeId:
                      type: string
                      description: The ID of the service type.
                    exceptionId:
                      type: string
                      description: The ID of the exception.
                    proceedsAccountId:
                      type: string
                      description: The ID of the proceeds account.
                    proceedsAccountCode:
                      type: string
                      description: The code of the proceeds account.
                    taxItems:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            nullable: true
                          taxTypeId:
                            type: string
                            nullable: true
                          rate:
                            type: number
                            format: float
                          perUnit:
                            type: number
                            format: float
                          total:
                            type: number
                            format: float
                          netTotal:
                            type: number
                            format: float
                            nullable: true
                          netPerUnit:
                            type: number
                            format: float
                            nullable: true
                          taxPayableAccountId:
                            type: string
                            nullable: true
                          taxPayableAccountCode:
                            type: string
                            nullable: true
                        required:
                        - rate
                        - perUnit
                        - total
                      description: The array of tax items.
                  description: The tax info details.
                data:
                  type: object
                  properties:
                    bundleId:
                      type: string
                      description: The ID of the bundle.
                  required:
                  - bundleId
              required:
              - itemId
              - type
              - netPrice
              - price
              - taxRate
            - type: object
              properties:
                itemId:
                  type: string
                  description: The ID of the item.
                type:
                  type: string
                  enum:
                  - fulfillmentType
                  description: The type of the additional item.
                netPrice:
                  type: number
                  format: float
                  description: The single piece net price of the additional item.
                price:
                  type: number
                  format: float
                  description: The single piece price of the additional item.
                taxRate:
                  type: number
                  format: float
                  nullable: true
                  description: The tax rate to be applied to this additional item.
                taxInfo:
                  type: object
                  properties:
                    serviceTypeId:
                      type: string
                      description: The ID of the service type.
                    exceptionId:
                      type: string
                      description: The ID of the exception.
                    proceedsAccountId:
                      type: string
                      description: The ID of the proceeds account.
                    proceedsAccountCode:
                      type: string
                      description: The code of the proceeds account.
                    taxItems:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            nullable: true
                          taxTypeId:
                            type: string
                            nullable: true
                          rate:
                            type: number
                            format: float
                          perUnit:
                            type: number
                            format: float
                          total:
                            type: number
                            format: float
                          netTotal:
                            type: number
                            format: float
                            nullable: true
                          netPerUnit:
                            type: number
                            format: float
                            nullable: true
                          taxPayableAccountId:
                            type: string
                            nullable: true
                          taxPayableAccountCode:
                            type: string
                            nullable: true
                        required:
                        - rate
                        - perUnit
                        - total
                      description: The array of tax items.
                  description: The tax info details.
                data:
                  type: object
                  properties:
                    fulfillmentTypeId:
                      type: string
                      description: The ID of the fulfillment type.
                    cartItemIds:
                      type: array
                      items:
                        type: string
                      description: The array of the related cart items IDs.
                  required:
                  - fulfillmentTypeId
              required:
              - itemId
              - type
              - netPrice
              - price
              - taxRate
          default: []
        extraFields:
          type: object
        expiresAt:
          type: string
          format: date-time
        secret:
          type: string
        transactionId:
          type: string
        outcome:
          type: object
          properties:
            checkoutId:
              type: string
        restrictedCompletion:
          type: array
          items:
            type: string
            enum:
            - POS
            - Online
          minItems: 1
          nullable: true
          description: Specifies how the customer can complete their purchase intent
        cancellationStrategy:
          type: string
          enum:
          - notAllowed
          - cancellationAllowed
          default: cancellationAllowed
        seatingReservationToken:
          type: string
        salesChannelId:
          type: string
        meta:
          type: object
          description: Custom key-value data. Metadata is useful for storing additional, structured information on an object.
        deposit:
          type: object
          properties:
            amount:
              type: number
              format: float
              description: The amount paid for the deposit
            paymentId:
              type: string
              description: The id of the payment for the deposit
            balanceTransactionId:
              type: string
              description: The id of the transaction for the deposit
          required:
          - amount
          - paymentId
          - balanceTransactionId
          description: Information for the deposit paid, if there was any
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        __v:
          type: integer
      required:
      - _id
      - status
      - approvalStatus
      - sellerId
      - eventId
      - regularPrice
      - realPrice
      - currency
      - innerCharge
      - outerCharge
      - tickets
      - secret
      - createdAt
      - updatedAt
    PublicTicketTransferResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the ticket transfer.
        secret:
          type: string
          description: The secret token of the ticket transfer.
        sender:
          type: object
          properties:
            email:
              type: string
              format: email
              description: The email of the ticket transfer sender.
            customerId:
              type: string
              nullable: true
              description: The ID of the ticket transfer sender.
            firstname:
              type: string
              nullable: true
              description: The first name of the ticket transfer sender.
            lastname:
              type: string
              nullable: true
              description: The last name ticket transfer sender.
          default: {}
        recipient:
          type: object
          properties:
            email:
              type: string
              format: email
              description: The email of the ticket transfer recipient.
            phone:
              type: string
              nullable: true
              description: The phone number of the ticket transfer recipient.
            customerId:
              type: string
              nullable: true
              description: The ID of the ticket transfer recipient.
          required:
          - email
        status:
          type: string
          enum:
          - CREATED
          - REJECTED
          - TRANSFERRED
          - EXPIRED
          description: The status of the ticket ticket transfer.
          default: CREATED
        outcome:
          type: object
          properties:
            tickets:
              type: array
              items:
                type: object
                properties:
                  ticketId:
                    type: string
                    description: The ID of the transfered ticket.
                  originTicketId:
                    type: string
                    description: The ID of the origin ticket.
                required:
                - ticketId
                - originTicketId
              description: The array of objects having transfered and origin tickets.
          description: The object representing result of the completed ticket transfer
        eventId:
          type: string
          description: The ID of the event the ticket transfer belongs to.
        groupEventId:
          type: string
          description: The ID of the group event the ticket transfer belongs to. Only filled in season card case.
        createdAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the ticket transfer was created.
        tickets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The ID of the ticket
              ticketName:
                type: string
                description: The name of the ticket type of the event
              seatingInfo:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the seating object.
                  _type:
                    type: number
                    format: float
                    enum:
                    - 6
                    - 7
                    description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                  categoryId:
                    type: string
                    description: The ID of the category containing the seating object.
                  statusId:
                    type: string
                    description: The ID of a container holding information about the seating status of the seating object.
                  name:
                    type: string
                    nullable: true
                    description: If _type == 7. The name of the general admission.
                  seatType:
                    type: string
                    nullable: true
                    enum:
                    - handicapped
                    - limitedView
                    - foldable
                    description: If _type == 6. The type of the seat. null = normal.
                  sectionName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the section where the seat is located.
                  groupName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the row group where the seat is located.
                  rowName:
                    type: string
                    nullable: true
                    description: If _type == 6. The name of the row where the seat is located.
                  seatName:
                    type: string
                    nullable: true
                    description: If _type == 6. The seat name.
                  gate:
                    type: string
                    nullable: true
                    description: The entry gate associated with the seating object.
                required:
                - _type
                - statusId
                description: The associated seating object.
              secret:
                type: string
                description: The secret token of the ticket
              email:
                type: string
                format: email
                description: The email of the ticket
              name:
                type: string
                description: The name of the ticket
              excludedEventIds:
                type: array
                items:
                  type: string
                description: An array of IDs of events for which the ticket has been blocked
              createdAt:
                type: string
                format: date-time
                description: An ISO timestamp indicating when the ticket was created
            required:
            - id
            - ticketName
            - secret
      required:
      - _id
      - secret
      - status
      - eventId
      - createdAt
    GET_Customers_GetAllCustomerTags_200_response:
      type: array
      items:
        type: string
      description: An array of tags
    PUT_Customers_SetANewPassword_200_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
      required:
      - status
    GET_Customers_GetTransactionsOfCustomer_200_response:
      type: object
      properties:
        transactions:
          type: array
          items:
            type: object
            properties:
              tid:
                type: string
                description: The ID of the transaction
              secret:
                type: string
                description: The secret token of the transaction
              tickets:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ticket
                      description: The type of the cart item.
                      default: ticket
                    _id:
                      type: string
                      description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                    name:
                      type: string
                      nullable: true
                      description: The name of the cart item.
                    amount:
                      type: integer
                      minimum: 1
                      description: The amount of the cart item.
                    netPrice:
                      type: number
                      format: float
                      description: The single piece net price of the cart item.
                    price:
                      type: number
                      format: float
                      description: The single piece price of the cart item.
                    taxRate:
                      type: number
                      format: float
                      nullable: true
                      description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
                    triggeredBy:
                      oneOf:
                      - type: string
                        description: An ID of another cart item which triggered the buy action of the cart item.
                      - type: array
                        items:
                          type: string
                        description: An array of IDs of other cart items which triggered the buy action of the cart item.
                      nullable: true
                      description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
                    bundleInfo:
                      type: object
                      properties:
                        bundleId:
                          type: string
                        componentId:
                          type: string
                        optionId:
                          type: string
                      nullable: true
                    ticketTypeId:
                      type: string
                      description: The ID of the ticket type of the cart item.
                    categoryRef:
                      type: string
                      description: The category reference of the ticket type.
                    seatingInfo:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the seating object.
                        _type:
                          type: number
                          format: float
                          enum:
                          - 6
                          - 7
                          description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                        categoryId:
                          type: string
                          description: The ID of the category containing the seating object.
                        statusId:
                          type: string
                          description: The ID of a container holding information about the seating status of the seating object.
                        name:
                          type: string
                          nullable: true
                          description: If _type == 7. The name of the general admission.
                        seatType:
                          type: string
                          nullable: true
                          enum:
                          - handicapped
                          - limitedView
                          - foldable
                          description: If _type == 6. The type of the seat. null = normal.
                        sectionName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the section where the seat is located.
                        groupName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the row group where the seat is located.
                        rowName:
                          type: string
                          nullable: true
                          description: If _type == 6. The name of the row where the seat is located.
                        seatName:
                          type: string
                          nullable: true
                          description: If _type == 6. The seat name.
                        gate:
                          type: string
                          nullable: true
                          description: The entry gate associated with the seating object.
                      required:
                      - _type
                      - statusId
                      nullable: true
                      description: The associated seating object.
                    slotInfo:
                      type: object
                      properties:
                        slotId:
                          type: string
                          description: The ID of the time slot.
                        slotStartTime:
                          type: string
                          description: The start time of the time slot.
                      required:
                      - slotId
                      - slotStartTime
                      nullable: true
                      description: The associated time slot object.
                    asHardTicket:
                      type: boolean
                      nullable: true
                      description: Whether this ticket is a hard ticket.
                    listingId:
                      type: string
                      nullable: true
                      description: Listing in secondary market.
                    listingItemId:
                      type: string
                      nullable: true
                      description: The ID of the listing item in the secondary market.
                    triggeredAutomations:
                      type: boolean
                      nullable: true
                      description: Whether the cart item triggered automations.
                    meta:
                      type: object
                      nullable: true
                      description: Meta data which is propagated to the ticket.
                    addOns:
                      type: array
                      items:
                        type: object
                        properties:
                          productId:
                            type: string
                          productVariantId:
                            type: string
                          name:
                            type: string
                        required:
                        - productId
                        - productVariantId
                        - name
                      description: A list of Add-Ons of the ticket.
                    capabilities:
                      type: array
                      items:
                        oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - self_service_return
                            settings:
                              type: object
                              properties:
                                returnRelatedItems:
                                  type: boolean
                                  default: true
                                phases:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      condition:
                                        type: object
                                        properties:
                                          target:
                                            type: string
                                            nullable: true
                                            description: The target of the relative date
                                          unit:
                                            type: string
                                            enum:
                                            - hours
                                            - days
                                            - weeks
                                            - months
                                            - years
                                            description: The unit in which the offset is specified
                                          offset:
                                            type: integer
                                            description: The offset to the date
                                        required:
                                        - unit
                                        - offset
                                      refundPercentage:
                                        type: number
                                        format: float
                                        minimum: 0
                                        maximum: 1
                                    required:
                                    - condition
                                    - refundPercentage
                              required:
                              - phases
                          required:
                          - type
                          - settings
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - repersonalization
                            settings:
                              type: object
                              properties:
                                inherit:
                                  type: boolean
                                repersonalizationDeadline:
                                  type: object
                                  properties:
                                    target:
                                      type: string
                                      nullable: true
                                      description: The target of the relative date
                                    unit:
                                      type: string
                                      enum:
                                      - hours
                                      - days
                                      - weeks
                                      - months
                                      - years
                                      description: The unit in which the offset is specified
                                    offset:
                                      type: integer
                                      description: The offset to the date
                                  required:
                                  - unit
                                  - offset
                                repersonalizationsLimit:
                                  type: number
                                  format: float
                                  nullable: true
                                repersonalizationFee:
                                  type: number
                                  format: float
                                  nullable: true
                                limitOnlyNameChanges:
                                  type: boolean
                              required:
                              - repersonalizationDeadline
                          required:
                          - type
                          - settings
                      nullable: true
                      description: The capabilities of the ticket.
                    taxInfo:
                      type: object
                      properties:
                        serviceTypeId:
                          type: string
                          description: The ID of the service type.
                        exceptionId:
                          type: string
                          description: The ID of the exception.
                        proceedsAccountId:
                          type: string
                          description: The ID of the proceeds account.
                        proceedsAccountCode:
                          type: string
                          description: The code of the proceeds account.
                        taxItems:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                nullable: true
                              taxTypeId:
                                type: string
                                nullable: true
                              rate:
                                type: number
                                format: float
                              perUnit:
                                type: number
                                format: float
                              total:
                                type: number
                                format: float
                              netTotal:
                                type: number
                                format: float
                                nullable: true
                              netPerUnit:
                                type: number
                                format: float
                                nullable: true
                              taxPayableAccountId:
                                type: string
                                nullable: true
                              taxPayableAccountCode:
                                type: string
                                nullable: true
                            required:
                            - rate
                            - perUnit
                            - total
                          description: The array of tax items.
                      description: The tax info details.
                  required:
                  - amount
                  - price
                  - ticketTypeId
                description: An array of cart ticket items of the transaction
                default: []
              products:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - product
                      description: The type of the cart item.
                    _id:
                      type: string
                      description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
                    name:
                      type: string
                      nullable: true
                      description: The name of the cart item.
                    amount:
                      type: integer
                      minimum: 1
                      description: The amount of the cart item.
                    netPrice:
                      type: number
                      format: float
                      description: The single piece net price of the cart item.
                    price:
                      type: number
                      format: float
                      description: The single piece price of the cart item.
                    taxRate:
                      type: number
                      format: float
                      nullable: true
                      description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
                    triggeredBy:
                      oneOf:
                      - type: string
                        description: An ID of another cart item which triggered the buy action of the cart item.
                      - type: array
                        items:
                          type: string
                        description: An array of IDs of other cart items which triggered the buy action of the cart item.
                      nullable: true
                      description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
                    bundleInfo:
                      type: object
                      properties:
                        bundleId:
                          type: string
                        componentId:
                          type: string
                        optionId:
                          type: string
                      nullable: true
                    productVariantId:
                      type: string
                      description: The ID of the product variant.
                    isFulfillable:
                      type: boolean
                      description: Whether the product can be delivered
                    taxInfo:
                      type: object
                      properties:
                        serviceTypeId:
                          type: string
                          description: The ID of the service type.
                        exceptionId:
                          type: string
                          description: The ID of the exception.
                        proceedsAccountId:
                          type: string
                          description: The ID of the proceeds account.
                        proceedsAccountCode:
                          type: string
                          description: The code of the proceeds account.
                        taxItems:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                nullable: true
                              taxTypeId:
                                type: string
                                nullable: true
                              rate:
                                type: number
                                format: float
                              perUnit:
                                type: number
                                format: float
                              total:
                                type: number
                                format: float
                              netTotal:
                                type: number
                                format: float
                                nullable: true
                              netPerUnit:
                                type: number
                                format: float
                                nullable: true
                              taxPayableAccountId:
                                type: string
                                nullable: true
                              taxPayableAccountCode:
                                type: string
                                nullable: true
                            required:
                            - rate
                            - perUnit
                            - total
                          description: The array of tax items.
                      description: The tax info details.
                  required:
                  - type
                  - amount
                  - price
                  - productVariantId
                description: An array of cart product items of the transaction
                default: []
              realPrice:
                type: number
                format: float
                description: The calculated real price of the transaction
              currency:
                type: string
                enum:
                - EUR
                - USD
                - GBP
                - AUD
                - CHF
                - THB
                - ILS
                - COP
                - MXN
                - DKK
                - NOK
                - SEK
                - QAR
                - CAD
                - ISK
                - GTQ
                - INR
                - DOP
                - SGD
                - PLN
                - SAR
                - TTD
                - ZAR
                - KYD
                - HKD
                - CZK
                - KRW
                - JPY
                - NZD
                - AED
                - MAD
                - TWD
                - BRL
                - BWP
                - NAD
                - KES
                - SCR
                - TRY
                - SZL
                - LSL
                - TZS
                - UGX
                - ZMW
                - ZWG
                - GHS
                - NGN
                - SLE
                - LRD
                - XOF
                - XAF
                - GEL
                - IDR
                - ARS
                - CRC
                - HUF
                - EGP
                - MYR
                - VND
                - PHP
                description: An ISO 4217 3-character code of the currency
                default: EUR
              vouchers:
                type: array
                items:
                  type: string
                description: An array of voucher codes applied to this transaction
              redeemedVouchers:
                type: object
                properties:
                  totalRedeemedAmount:
                    type: number
                    format: float
                    description: The sum of all vouchers applied.
                  vouchers:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the voucher.
                        code:
                          type: string
                          description: The Code of the voucher.
                        redeemedAmount:
                          type: number
                          format: float
                          description: The applied value of the voucher.
                      required:
                      - code
                      - redeemedAmount
                    description: An array of all redeemed vouchers.
                required:
                - totalRedeemedAmount
                description: An array of voucher codes redeemed for this transaction
              email:
                type: string
                format: email
                description: The email of the user of the transaction
              status:
                type: string
                enum:
                - NEW
                - RESERVED-BY-SYSTEM
                - ABORTED
                - COMPLETE
                - CANCELED
                description: The status of the transaction.
              company:
                type: string
                description: The company name of the user of the transaction
              name:
                type: string
                description: The name of the user of the transaction
              prename:
                type: string
                description: The firstname of the user of the transaction
              lastname:
                type: string
                description: The lastname of the user of the transaction
              street:
                type: string
                description: The street of the user of the transaction
              line2:
                type: string
                description: The additional address field of the user of the transaction.
              postal:
                type: string
                description: The postal of the user of the transaction
              city:
                type: string
                description: The city of the user of the transaction
              state:
                type: string
                description: The state of the user of the transaction
              country:
                type: string
                description: The country of the user of the transaction
              createdAt:
                type: string
                format: date-time
                description: An ISO timestamp indicating when the transaction was created
              eventId:
                type: string
                description: The ID of the event containing this transaction
              paymentStatus:
                type: string
                enum:
                - AWAITING
                - PENDING
                - RECEIVED
                - REFUND
                - CANCELED
                - FAILED
                - DISPUTE
                - CHARGEBACK
                - POS-RECEIVED
                - POS-CANCELED
                - LOCAL-PENDING
                - LOCAL-AWAITING
                - LOCAL-RECEIVED
                - EXTERNAL
                description: The payment status of the transaction.
                default: AWAITING
              outerCharge:
                type: number
                format: float
                description: The outer charge of the transaction
              paymentMethod:
                type: string
                enum:
                - paypal
                - stripe
                - local
                - external
                - vivenu-payments
                description: The payment method of the transaction.
              preferredLanguage:
                type: string
                enum:
                - de
                - de-CH
                - en
                - en-GB
                - en-AU
                - fr
                - es
                - es-MX
                - is
                - it
                - ru
                - pt
                - tr
                - nb
                - nl
                - pl
                - sv
                - sl
                - da
                - cs
                - lv
                - he
                - ar
                - th
                - ko
                - ja
                - zh-TW
                description: The preferred language of the transaction. It is determined automatically
                default: de
              extraFields:
                type: object
                description: The extra fields of the transaction
              underShop:
                type: string
                description: The under shop of the transaction
              paymentInfoMethod:
                type: string
                description: The method of the payment
              coupons:
                type: array
                items:
                  type: string
                description: An array of coupon codes applied
            required:
            - tid
            - secret
            - realPrice
            - status
            - eventId
        events:
          type: array
          items:
            $ref: '#/components/schemas/PublicEventResource'
    PUT_Customers_SetANewPassword:
      type: object
      properties:
        sellerId:
          type: string
        password:
          type: string
          minLength: 9
      required:
      - sellerId
      - password
    GET_Customers_GetPurchaseIntentsOfCustomer_200_response:
      type: array
      items:
        $ref: '#/components/schemas/PublicPurchaseIntentResource'
    GET_Customers_GetAllCustomers_200_response:
      type: object
      properties:
        docs:
          type: array
          items:
            $ref: '#/components/schemas/CustomerResource'
        total:
          type: integer
    CustomerResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the customer
        company:
          type: string
          nullable: true
          description: The company of the customer
        name:
          type: string
          nullable: true
          description: The name of the customer collected from first name and last name
        prename:
          type: string
          nullable: true
          description: The first name of the customer
        lastname:
          type: string
          nullable: true
          description: The lastname of the customer
        image:
          type: string
          nullable: true
          description: The image of the customer
          deprecated: true
        primaryEmail:
          type: string
          format: email
          description: The primary email of the customer
        number:
          type: number
          format: float
          description: The number of the customer. Need to be unique and incrementing
        phone:
          type: string
          description: The phone number of the customer
        location:
          type: object
          properties:
            street:
              type: string
              nullable: true
              description: The street of the location
            line2:
              type: string
              nullable: true
              description: The additional address fields of the location
            postal:
              type: string
              nullable: true
              description: The postal of the location
            city:
              type: string
              nullable: true
              description: The city of the location
            locale:
              type: string
              nullable: true
              description: The locale of the location
              deprecated: true
            state:
              type: string
              nullable: true
              description: The state of the location
            center:
              type: array
              items:
                type: number
                format: float
              nullable: true
              description: The center of the location
              deprecated: true
            country:
              type: string
              nullable: true
              description: An ISO-3166-1 Alpha 2 country code of the location
          description: The location of the customer
        sellerId:
          type: string
          description: The ID of the seller of the customer
        notes:
          type: string
          nullable: true
          description: Notes of the customer
        extraFields:
          type: object
          nullable: true
          description: Extra fields of the customer
        tags:
          type: array
          items:
            type: string
          description: An array of tags
        segments:
          type: array
          items:
            type: string
          description: An array of segment slugs, read only
        blocked:
          type: boolean
          description: Whether the customer is blocked
        verified:
          type: boolean
          description: Whether the customer is verified
        identification:
          type: array
          items:
            $ref: '#/components/schemas/LegalIdentificationDocumentResource'
          description: An array of identification items
        _account:
          type: object
          properties:
            verificationToken:
              type: string
              description: The verification token will be sent to the customer via email within a verification link, which can be used to verify the account of the customer
            passwordResetToken:
              type: string
              description: The password reset token will be sent within a password reset link via email, which can be used by the customer to reset its password
            limitations:
              type: object
              properties:
                nextVerificationMailRequest:
                  type: string
                  format: date-time
                  description: An ISO timestamp indicating when the next verification mail request can be sent
              description: Account specific limitations of the customer
            loginType:
              type: string
              nullable: true
              enum:
              - password
              - identityprovider
              description: The login type of the customer.
          description: Account specific information about the customer
        meta:
          type: object
          description: Custom key-value data. Metadata is useful for storing additional, structured information on an object.
        externalId:
          type: string
          nullable: true
          description: An external identifier of the customer
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the customer was created
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the customer was updated
      required:
      - _id
      - primaryEmail
      description: The associated customer which has been updated
    PublicResellOfferInfoResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the offer
        customerId:
          type: string
          description: The ID of the customer of this offer
        status:
          oneOf:
          - type: array
          - type: boolean
          - type: number
[...]
