openapi: 3.2.0
info:
  title: vivenu Images API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: Images
paths:
  /api/image:
    get:
      security:
      - jwt: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Images_GetAllImages_200_response'
        '401':
          description: Unauthorized
      tags:
      - Images
      description: Get all Images
      operationId: get_all_images
      summary: Get all images
      x-summary-source: derived
    post:
      security:
      - jwt: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POST_Images_CreateAnImage_201_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Images_CreateAnImage'
      tags:
      - Images
      description: Create an Image
      operationId: create_an_image
      summary: Create an image
      x-summary-source: derived
  /api/image/{id}:
    put:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          description: The ID of the image
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUT_Images_UpdateAnImage_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Images_UpdateAnImage'
      tags:
      - Images
      description: Update an Image
      operationId: update_an_image
      summary: Update an image
      x-summary-source: derived
    delete:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DELETE_Images_DeleteAnImage_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - Images
      description: Delete an Image
      operationId: delete_an_image
      summary: Delete an image
      x-summary-source: derived
components:
  schemas:
    POST_Images_CreateAnImage_201_response:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the image.
        sellerId:
          type: string
          description: The ID of the seller of the image.
        name:
          type: string
          description: The name of the image.
        url:
          type: string
          format: uri
          description: The URL of the image.
        tags:
          type: array
          items:
            type: string
          description: An array of tags of the image.
        type:
          type: string
          enum:
          - img
          - video
          description: The type of the asset (img or video)
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was created.
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was updated.
      required:
      - _id
      - sellerId
      - name
      - url
    POST_Images_CreateAnImage:
      type: object
      properties:
        name:
          type: string
          description: The name of the image.
        url:
          type: string
          format: uri
          description: The URL of the image.
        tags:
          type: array
          items:
            type: string
          description: An array of tags of the image.
        type:
          type: string
          enum:
          - img
          - video
          description: The type of the asset (img or video)
      required:
      - name
      - url
    PUT_Images_UpdateAnImage_200_response:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the image.
        sellerId:
          type: string
          description: The ID of the seller of the image.
        name:
          type: string
          description: The name of the image.
        url:
          type: string
          format: uri
          description: The URL of the image.
        tags:
          type: array
          items:
            type: string
          description: An array of tags of the image.
        type:
          type: string
          enum:
          - img
          - video
          description: The type of the asset (img or video)
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was created.
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was updated.
      required:
      - _id
      - sellerId
      - name
      - url
    GET_Images_GetAllImages_200_response:
      type: object
      properties:
        docs:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the image.
              sellerId:
                type: string
                description: The ID of the seller of the image.
              name:
                type: string
                description: The name of the image.
              url:
                type: string
                format: uri
                description: The URL of the image.
              tags:
                type: array
                items:
                  type: string
                description: An array of tags of the image.
              type:
                type: string
                enum:
                - img
                - video
                description: The type of the asset (img or video)
              createdAt:
                type: string
                format: date-time
                description: An ISO timestamp indicating when the image was created.
              updatedAt:
                type: string
                format: date-time
                description: An ISO timestamp indicating when the image was updated.
            required:
            - _id
            - sellerId
            - name
            - url
        total:
          type: integer
    PUT_Images_UpdateAnImage:
      type: object
      properties:
        name:
          type: string
          description: The name of the image.
        tags:
          type: array
          items:
            type: string
          description: An array of tags of the image.
        type:
          type: string
          enum:
          - img
          - video
          description: The type of the asset (img or video)
      required:
      - name
    DELETE_Images_DeleteAnImage_200_response:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the image.
        sellerId:
          type: string
          description: The ID of the seller of the image.
        name:
          type: string
          description: The name of the image.
        url:
          type: string
          format: uri
          description: The URL of the image.
        tags:
          type: array
          items:
            type: string
          description: An array of tags of the image.
        type:
          type: string
          enum:
          - img
          - video
          description: The type of the asset (img or video)
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was created.
        updatedAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the image was updated.
      required:
      - _id
      - sellerId
      - name
      - url
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apikey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
    customer-jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    orgApiKey:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
