openapi: 3.2.0
info:
  title: vivenu Pos API
  description: vivenu API Documentation
  version: 1.0.0
  contact:
    name: vivenu GmbH
    url: https://vivenu.com
servers:
- url: https://vivenu.com
  description: Production API
- url: https://vivenu.dev
  description: Staging API
tags:
- name: POS
paths:
  /api/pos/{id}/collect-checkout/{checkoutId}:
    get:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      - name: checkoutId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutPOSDataResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Collect Checkout Data
      operationId: collect_checkout_data
      summary: Collect checkout data
      x-summary-source: derived
  /api/pos/{id}/convert-checkout:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutPOSDataResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Api_ConvertCheckout'
      tags:
      - POS
      description: Convert Checkout
      operationId: convert_checkout
      summary: Convert checkout
      x-summary-source: derived
  /api/pos/{id}/checkout/{checkoutId}/details:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      - name: checkoutId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Api_PostPosCheckoutDetails'
      tags:
      - POS
      description: Post POS checkout details
      operationId: post_pos_checkout_details
      summary: Post pos checkout details
      x-summary-source: derived
  /api/pos:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellerId
        required: false
        schema:
          type:
          - string
          - 'null'
          description: Filter by seller ID
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetAllPos_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get all POS
      operationId: get_all_pos
      summary: Get all pos
      x-summary-source: derived
    post:
      security:
      - jwt: []
      - apikey: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Pos_CreateAPos'
      tags:
      - POS
      description: Create a POS
      operationId: create_a_pos
      summary: Create a pos
      x-summary-source: derived
  /api/posinfo:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      - name: name
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: operationMode
        required: false
        schema:
          type: string
          enum:
          - OPERATOR
          - KIOSK
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellerId
        required: false
        schema:
          type:
          - string
          - 'null'
          description: Filter by seller ID
          metas: {}
        in: query
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetAllPosInfos_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get all POS Infos
      operationId: get_all_pos_infos
      summary: Get all pos infos
      x-summary-source: derived
  /api/pos/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Get POS
      operationId: get_pos
      summary: Get pos
      x-summary-source: derived
    put:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_Pos_UpdatePos'
      tags:
      - POS
      description: Update POS
      operationId: update_pos
      summary: Update pos
      x-summary-source: derived
  /api/posinfo/{id}:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSInfoResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Get POS Info
      operationId: get_pos_info
      summary: Get pos info
      x-summary-source: derived
  /api/pos/payments/gateways:
    get:
      security:
      - jwt: []
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetTheIDsAndTheTypesOfAllActivePosPaymentGateways_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get the IDs and the types of all active POS payment gateways
      operationId: get_the_i_ds_and_the_types_of_all_active_pos_payment_gateways
      summary: Get the i ds and the types of all active pos payment gateways
      x-summary-source: derived
  /api/pos/{id}/scannable:
    get:
      security:
      - jwt: []
      parameters:
      - name: code
        required: true
        schema:
          type: string
          description: The scannable code
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetScannableInformationForACode_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      operationId: get_scannable_information_for_a_code
      summary: Get scannable information for a code
      x-summary-source: derived
  /api/pos/{id}/xreport:
    get:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get X report
      operationId: get_x_report
      summary: Get x report
      x-summary-source: derived
  /api/pos/{id}/status:
    get:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSWithStatusResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get POS Status
      operationId: get_pos_status
      summary: Get pos status
      x-summary-source: derived
  /api/pos/{id}/sessions:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetPosSessions_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Get POS sessions
      operationId: get_pos_sessions
      summary: Get pos sessions
      x-summary-source: derived
  /api/pos/{id}/fiscalization-info:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serialNumberEA:
                    type: string
                    description: The serial number of the EA
                  serialNumberTSE:
                    type: string
                    description: The serial number of the TSE
                  createdAt:
                    description: The date when the fiscalization data was created
                    type: string
                    format: date-time
                required:
                - serialNumberEA
                - serialNumberTSE
                - createdAt
                additionalProperties: false
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Get POS fiscalization info
      operationId: get_pos_fiscalization_info
      summary: Get pos fiscalization info
      x-summary-source: derived
  /api/pos/{id}/logs:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          description: A limit on the number of objects to be returned. Can range between 1 and 1000.
          default: 25
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          description: The number of objects to skip for the requested result
          metas: {}
        in: query
        style: form
        explode: true
      - name: type
        required: false
        schema:
          type: string
          enum:
          - SALE
          - CANCELLATION
          - SESSION_CREATED
          - SESSION_CLOSED
          description: Type of logs to filter
          metas: {}
        in: query
        style: form
        explode: true
      - name: referenceId
        required: false
        schema:
          type: string
          description: ID of the referenced object
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetPosJournalLogs_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Get POS journal logs
      operationId: get_pos_journal_logs
      summary: Get pos journal logs
      x-summary-source: derived
  /api/pos/{id}/events:
    get:
      security:
      - jwt: []
      parameters:
      - name: top
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: skip
        required: false
        schema:
          type: number
          format: float
          metas: {}
        in: query
        style: form
        explode: true
      - name: startMin
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: startMax
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: endMin
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: endMax
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellStart
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: sellEnd
        required: false
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: rootId
        required: false
        schema:
          oneOf:
          - type: array
            items:
              type: string
              metas: {}
            minItems: 0
            metas: {}
          - type: string
            metas: {}
          metas: {}
        in: query
        style: form
        explode: true
      - name: sortBy
        required: false
        schema:
          type: string
          enum:
          - start
          default: start
          metas: {}
        in: query
        style: form
        explode: true
      - name: sortOrder
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
          metas: {}
        in: query
        style: form
        explode: true
      - name: locale
        required: false
        schema:
          type: string
          description: Get the info for a specific language
          metas: {}
        in: query
        style: form
        explode: true
      - name: eventTypes
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SINGLE
            - GROUP
            - RECURRENCE
            - ROOT
            metas: {}
          metas: {}
        in: query
        style: form
        explode: true
      - name: name
        required: false
        schema:
          type: string
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_Pos_GetPosEvents_200_response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      operationId: get_pos_events
      summary: Get pos events
      x-summary-source: derived
  /api/pos/{id}/export/orderdiscounts:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: start
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Export POS order discounts
      operationId: export_pos_order_discounts
      summary: Export pos order discounts
      x-summary-source: derived
  /api/pos/{id}/export/orders:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: start
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Export POS orders
      operationId: export_pos_orders
      summary: Export pos orders
      x-summary-source: derived
  /api/pos/{id}/export/journallogs:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: start
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Export POS journal logs
      operationId: export_pos_journal_logs
      summary: Export pos journal logs
      x-summary-source: derived
  /api/pos/{id}/zreport/{reportId}:
    get:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      - name: reportId
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Get Z report
      operationId: get_z_report
      summary: Get z report
      x-summary-source: derived
  /api/pos/{id}/export/cancellations:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: start
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Export POS cancellations
      operationId: export_pos_cancellations
      summary: Export pos cancellations
      x-summary-source: derived
  /api/pos/{id}/export/orderitems:
    get:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: start
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: end
        required: true
        schema:
          type: string
          format: date-time
          metas: {}
        in: query
        style: form
        explode: true
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Export POS order items
      operationId: export_pos_order_items
      summary: Export pos order items
      x-summary-source: derived
  /api/pos/{id}/disable:
    post:
      security:
      - jwt: []
      - apikey: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - POS
      description: Disable POS
      operationId: disable_pos
      summary: Disable pos
      x-summary-source: derived
  /api/pos/{id}/close:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSCloseSessionResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      tags:
      - POS
      description: Close a POS session
      operationId: close_a_pos_session
      summary: Close a pos session
      x-summary-source: derived
  /api/pos/{id}/open:
    post:
      security:
      - jwt: []
      parameters:
      - name: id
        required: true
        schema:
          type: string
          metas: {}
        in: path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSOpenSessionResource'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POST_Pos_OpenAPosSession'
      tags:
      - POS
      description: Open a POS session
      operationId: open_a_pos_session
      summary: Open a pos session
      x-summary-source: derived
components:
  schemas:
    TransactionResource:
      type: object
      properties:
        _id:
          type: string
          description: The ID of the transaction
        sellerId:
          type: string
          description: The ID of the seller of the transaction
        customerId:
          type: string
          description: The ID of the customer of the transaction
        eventId:
          type: string
          description: The ID of the event containing this transaction
        company:
          type: string
          description: The company name of the user of the transaction
        name:
          type: string
          description: The name of the user of the transaction
        prename:
          type: string
          description: The firstname of the user of the transaction
        lastname:
          type: string
          description: The lastname of the user of the transaction
        email:
          type: string
          format: email
          description: The email of the user of the transaction
        street:
          type: string
          description: The street of the user of the transaction
        line2:
          type: string
          description: The additional address field of the user of the transaction.
        city:
          type: string
          description: The city of the user of the transaction
        state:
          type: string
          description: The state of the user of the transaction
        country:
          type: string
          description: The country of the user of the transaction
        postal:
          type: string
          description: The postal of the user of the transaction
        deliveryAddress:
          type: object
          properties:
            fullAddress:
              type:
              - string
              - 'null'
              description: Optional full address
            street:
              type:
              - string
              - 'null'
              description: The street of the address. Street name including number.
            line2:
              type:
              - string
              - 'null'
              description: The additional field of the address.
            postal:
              type:
              - string
              - 'null'
              description: The postal code of the address.
            city:
              type:
              - string
              - 'null'
              description: The city of the address.
            country:
              type:
              - string
              - 'null'
              description: The country of the address. An ISO 3166 country code.
            state:
              type:
              - string
              - 'null'
              description: The state of the address. If applicable
            name:
              type: string
              description: The name of the person receiving delivery.
          description: The delivery address of the transaction
        identification:
          type: array
          items:
            $ref: '#/components/schemas/LegalIdentificationDocumentResource'
          description: An array of identification items
        tickets:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ticket
                description: The type of the cart item.
                default: ticket
              _id:
                type: string
                description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
              name:
                type:
                - string
                - 'null'
                description: The name of the cart item.
              amount:
                type: integer
                minimum: 1
                description: The amount of the cart item.
              netPrice:
                type: number
                format: float
                description: The single piece net price of the cart item.
              price:
                type: number
                format: float
                description: The single piece price of the cart item.
              taxRate:
                type:
                - number
                - 'null'
                format: float
                description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
              triggeredBy:
                oneOf:
                - type: string
                  description: An ID of another cart item which triggered the buy action of the cart item.
                - type: array
                  items:
                    type: string
                  description: An array of IDs of other cart items which triggered the buy action of the cart item.
                description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
              bundleInfo:
                type:
                - object
                - 'null'
                properties:
                  bundleId:
                    type: string
                  componentId:
                    type: string
                  optionId:
                    type: string
              ticketTypeId:
                type: string
                description: The ID of the ticket type of the cart item.
              categoryRef:
                type: string
                description: The category reference of the ticket type.
              seatingInfo:
                type:
                - object
                - 'null'
                properties:
                  _id:
                    type: string
                    description: The ID of the seating object.
                  _type:
                    type: number
                    format: float
                    enum:
                    - 6
                    - 7
                    description: Indicates the type of seating object. Seat = 6, General Admission = 7.
                  categoryId:
                    type: string
                    description: The ID of the category containing the seating object.
                  statusId:
                    type: string
                    description: The ID of a container holding information about the seating status of the seating object.
                  name:
                    type:
                    - string
                    - 'null'
                    description: If _type == 7. The name of the general admission.
                  seatType:
                    type:
                    - string
                    - 'null'
                    enum:
                    - handicapped
                    - limitedView
                    - foldable
                    description: If _type == 6. The type of the seat. null = normal.
                  sectionName:
                    type:
                    - string
                    - 'null'
                    description: If _type == 6. The name of the section where the seat is located.
                  groupName:
                    type:
                    - string
                    - 'null'
                    description: If _type == 6. The name of the row group where the seat is located.
                  rowName:
                    type:
                    - string
                    - 'null'
                    description: If _type == 6. The name of the row where the seat is located.
                  seatName:
                    type:
                    - string
                    - 'null'
                    description: If _type == 6. The seat name.
                  gate:
                    type:
                    - string
                    - 'null'
                    description: The entry gate associated with the seating object.
                required:
                - _type
                - statusId
                description: The associated seating object.
              slotInfo:
                type:
                - object
                - 'null'
                properties:
                  slotId:
                    type: string
                    description: The ID of the time slot.
                  slotStartTime:
                    type: string
                    description: The start time of the time slot.
                required:
                - slotId
                - slotStartTime
                description: The associated time slot object.
              asHardTicket:
                type:
                - boolean
                - 'null'
                description: Whether this ticket is a hard ticket.
              listingId:
                type:
                - string
                - 'null'
                description: Listing in secondary market.
              listingItemId:
                type:
                - string
                - 'null'
                description: The ID of the listing item in the secondary market.
              triggeredAutomations:
                type:
                - boolean
                - 'null'
                description: Whether the cart item triggered automations.
              meta:
                type:
                - object
                - 'null'
                description: Meta data which is propagated to the ticket.
              addOns:
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: string
                    productVariantId:
                      type: string
                    name:
                      type: string
                  required:
                  - productId
                  - productVariantId
                  - name
                description: A list of Add-Ons of the ticket.
              capabilities:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - self_service_return
                      settings:
                        type: object
                        properties:
                          returnRelatedItems:
                            type: boolean
                            default: true
                          phases:
                            type: array
                            items:
                              type: object
                              properties:
                                condition:
                                  type: object
                                  properties:
                                    target:
                                      type:
                                      - string
                                      - 'null'
                                      description: The target of the relative date
                                    unit:
                                      type: string
                                      enum:
                                      - hours
                                      - days
                                      - weeks
                                      - months
                                      - years
                                      description: The unit in which the offset is specified
                                    offset:
                                      type: integer
                                      description: The offset to the date
                                  required:
                                  - unit
                                  - offset
                                refundPercentage:
                                  type: number
                                  format: float
                                  minimum: 0
                                  maximum: 1
                              required:
                              - condition
                              - refundPercentage
                        required:
                        - phases
                    required:
                    - type
                    - settings
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - repersonalization
                      settings:
                        type: object
                        properties:
                          inherit:
                            type: boolean
                          repersonalizationDeadline:
                            type: object
                            properties:
                              target:
                                type:
                                - string
                                - 'null'
                                description: The target of the relative date
                              unit:
                                type: string
                                enum:
                                - hours
                                - days
                                - weeks
                                - months
                                - years
                                description: The unit in which the offset is specified
                              offset:
                                type: integer
                                description: The offset to the date
                            required:
                            - unit
                            - offset
                          repersonalizationsLimit:
                            type:
                            - number
                            - 'null'
                            format: float
                          repersonalizationFee:
                            type:
                            - number
                            - 'null'
                            format: float
                          limitOnlyNameChanges:
                            type: boolean
                        required:
                        - repersonalizationDeadline
                    required:
                    - type
                    - settings
                description: The capabilities of the ticket.
              taxInfo:
                type: object
                properties:
                  serviceTypeId:
                    type: string
                    description: The ID of the service type.
                  exceptionId:
                    type: string
                    description: The ID of the exception.
                  proceedsAccountId:
                    type: string
                    description: The ID of the proceeds account.
                  proceedsAccountCode:
                    type: string
                    description: The code of the proceeds account.
                  taxItems:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                        taxTypeId:
                          type:
                          - string
                          - 'null'
                        rate:
                          type: number
                          format: float
                        perUnit:
                          type: number
                          format: float
                        total:
                          type: number
                          format: float
                        netTotal:
                          type:
                          - number
                          - 'null'
                          format: float
                        netPerUnit:
                          type:
                          - number
                          - 'null'
                          format: float
                        taxPayableAccountId:
                          type:
                          - string
                          - 'null'
                        taxPayableAccountCode:
                          type:
                          - string
                          - 'null'
                      required:
                      - rate
                      - perUnit
                      - total
                    description: The array of tax items.
                description: The tax info details.
            required:
            - amount
            - price
            - ticketTypeId
          description: An array of cart ticket items of the transaction
          default: []
        products:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - product
                description: The type of the cart item.
              _id:
                type: string
                description: Unique identifier for the cart item. If omitted, the system will automatically generate one.
              name:
                type:
                - string
                - 'null'
                description: The name of the cart item.
              amount:
                type: integer
                minimum: 1
                description: The amount of the cart item.
              netPrice:
                type: number
                format: float
                description: The single piece net price of the cart item.
              price:
                type: number
                format: float
                description: The single piece price of the cart item.
              taxRate:
                type:
                - number
                - 'null'
                format: float
                description: The tax rate to be applied to this cart item. If not present the tax rate of the transaction is taken.
              triggeredBy:
                oneOf:
                - type: string
                  description: An ID of another cart item which triggered the buy action of the cart item.
                - type: array
                  items:
                    type: string
                  description: An array of IDs of other cart items which triggered the buy action of the cart item.
                description: An ID or an array of IDs of other cart items which triggered the buy action of the cart item.
              bundleInfo:
                type:
                - object
                - 'null'
                properties:
                  bundleId:
                    type: string
                  componentId:
                    type: string
                  optionId:
                    type: string
              productVariantId:
                type: string
                description: The ID of the product variant.
              isFulfillable:
                type: boolean
                description: Whether the product can be delivered
              taxInfo:
                type: object
                properties:
                  serviceTypeId:
                    type: string
                    description: The ID of the service type.
                  exceptionId:
                    type: string
                    description: The ID of the exception.
                  proceedsAccountId:
                    type: string
                    description: The ID of the proceeds account.
                  proceedsAccountCode:
                    type: string
                    description: The code of the proceeds account.
                  taxItems:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                        taxTypeId:
                          type:
                          - string
                          - 'null'
                        rate:
                          type: number
                          format: float
                        perUnit:
                          type: number
                          format: float
                        total:
                          type: number
                          format: float
                        netTotal:
                          type:
                          - number
                          - 'null'
                          format: float
                        netPerUnit:
                          type:
                          - number
                          - 'null'
                          format: float
                        taxPayableAccountId:
                          type:
                          - string
                          - 'null'
                        taxPayableAccountCode:
                          type:
                          - string
                          - 'null'
                      required:
                      - rate
                      - perUnit
                      - total
                    description: The array of tax items.
                description: The tax info details.
            required:
            - type
            - amount
            - price
            - productVariantId
          description: An array of cart product items of the transaction
          default: []
        additionalItems:
          type: array
          items:
            oneOf:
            - type: object
              properties:
                itemId:
                  type: string
                  description: The ID of the item.
                type:
                  type: string
                  enum:
                  - bundle
                  description: The type of the additional item.
                netPrice:
                  type: number
                  format: float
                  description: The single piece net price of the additional item.
                price:
                  type: number
                  format: float
                  description: The single piece price of the additional item.
                taxRate:
                  type:
                  - number
                  - 'null'
                  format: float
                  description: The tax rate to be applied to this additional item.
                taxInfo:
                  type: object
                  properties:
                    serviceTypeId:
                      type: string
                      description: The ID of the service type.
                    exceptionId:
                      type: string
                      description: The ID of the exception.
                    proceedsAccountId:
                      type: string
                      description: The ID of the proceeds account.
                    proceedsAccountCode:
                      type: string
                      description: The code of the proceeds account.
                    taxItems:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type:
                            - string
                            - 'null'
                          taxTypeId:
                            type:
                            - string
                            - 'null'
                          rate:
                            type: number
                            format: float
                          perUnit:
                            type: number
                            format: float
                          total:
                            type: number
                            format: float
                          netTotal:
                            type:
                            - number
                            - 'null'
                            format: float
                          netPerUnit:
                            type:
                            - number
                            - 'null'
                            format: float
                          taxPayableAccountId:
                            type:
                            - string
                            - 'null'
                          taxPayableAccountCode:
                            type:
                            - string
                            - 'null'
                        required:
                        - rate
                        - perUnit
                        - total
                      description: The array of tax items.
                  description: The tax info details.
                data:
                  type: object
                  properties:
                    bundleId:
                      type: string
                      description: The ID of the bundle.
                  required:
                  - bundleId
              required:
              - itemId
              - type
              - netPrice
              - price
              - taxRate
            - type: object
              properties:
                itemId:
                  type: string
                  description: The ID of the item.
                type:
                  type: string
                  enum:
                  - fulfillmentType
                  description: The type of the additional item.
                netPrice:
                  type: number
                  format: float
                  description: The single piece net price of the additional item.
                price:
                  type: number
                  format: float
                  description: The single piece price of the additional item.
                taxRate:
                  type:
                  - number
                  - 'null'
                  format: float
                  description: The tax rate to be applied to this additional item.
                taxInfo:
                  type: object
                  properties:
                    serviceTypeId:
                      type: string
                      description: The ID of the service type.
                    exceptionId:
                      type: string
                      description: The ID of the exception.
                    proceedsAccountId:
                      type: string
                      description: The ID of the proceeds account.
                    proceedsAccountCode:
                      type: string
                      description: The code of the proceeds account.
                    taxItems:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type:
                            - string
                            - 'null'
                          taxTypeId:
                            type:
                            - string
                            - 'null'
                          rate:
                            type: number
                            format: float
                          perUnit:
                            type: number
                            format: float
                          total:
                            type: number
                            format: float
                          netTotal:
                            type:
                            - number
                            - 'null'
                            format: float
                          netPerUnit:
                            type:
                            - number
                            - 'null'
                            format: float
                          taxPayableAccountId:
                            type:
                            - string
                            - 'null'
                          taxPayableAccountCode:
                            type:
                            - string
                            - 'null'
                        required:
                        - rate
                        - perUnit
                        - total
                      description: The array of tax items.
                  description: The tax info details.
                data:
                  type: object
                  properties:
                    fulfillmentTypeId:
                      type: string
                      description: The ID of the fulfillment type.
                    cartItemIds:
                      type: array
                      items:
                        type: string
                      description: The array of the related cart items IDs.
                  required:
                  - fulfillmentTypeId
              required:
              - itemId
              - type
              - netPrice
              - price
              - taxRate
          description: An array of additional price items of the transaction
          default: []
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - AUD
          - CHF
          - THB
          - ILS
          - COP
          - MXN
          - DKK
          - NOK
          - SEK
          - QAR
          - CAD
          - ISK
          - GTQ
          - INR
          - DOP
          - SGD
          - PLN
          - SAR
          - TTD
          - ZAR
          - KYD
          - HKD
          - CZK
          - KRW
          - JPY
          - NZD
          - AED
          - MAD
          - TWD
          - BRL
          - BWP
          - NAD
          - KES
          - SCR
          - TRY
          - SZL
          - LSL
          - TZS
          - UGX
          - ZMW
          - ZWG
          - GHS
          - NGN
          - SLE
          - LRD
          - XOF
          - XAF
          - GEL
          - IDR
          - ARS
          - CRC
          - HUF
          - EGP
          - MYR
          - VND
          - PHP
          description: An ISO 4217 3-character code of the currency
          default: EUR
        regularPrice:
          type: number
          format: float
          description: The regular price of the transaction
        realPrice:
          type: number
          format: float
          description: The calculated real price of the transaction
        paymentCharge:
          type: number
          format: float
          description: The payment charge of the transaction
        innerCharge:
          type: number
          format: float
          description: The inner charge of the transaction
        outerCharge:
          type: number
          format: float
          description: The outer charge of the transaction
        innerFeeComponents:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the fee composition.
            fix:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee component.
                  amount:
                    type: number
                    format: float
                    description: The fee amount.
                  value:
                    type: number
                    format: float
                    description: The fee value.
                  total:
                    type: number
                    format: float
                    description: The fee total. Calculated with amount and value.
                  type:
                    type: string
                    enum:
                    - onTicket
                    - onHardTicket
                    - onCart
                    description: The fee type of the fee component.
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name of the fee.
                  publicName:
                    type: string
                    description: The public name of the fee component.
                  exposed:
                    type: boolean
                    description: Whether this fee will be exposed to the ticket buyer.
                  scheme:
                    type: object
                    properties:
                      schemeId:
                        type: string
                        description: The ID of the fee scheme.
                      feeId:
                        type: string
                        description: The ID of the fee scheme fee.
                    description: The fee scheme of the fee component.
                required:
                - _id
              description: An array of fee components for the fix fee.
            var:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee component.
                  amount:
                    type: number
                    format: float
                    description: The fee amount.
                  value:
                    type: number
                    format: float
                    description: The fee value.
                  total:
                    type: number
                    format: float
                    description: The fee total. Calculated with amount and value.
                  type:
                    type: string
                    enum:
                    - onTicket
                    - onHardTicket
                    - onCart
                    description: The fee type of the fee component.
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name of the fee.
                  publicName:
                    type: string
                    description: The public name of the fee component.
                  exposed:
                    type: boolean
                    description: Whether this fee will be exposed to the ticket buyer.
                  scheme:
                    type: object
                    properties:
                      schemeId:
                        type: string
                        description: The ID of the fee scheme.
                      feeId:
                        type: string
                        description: The ID of the fee scheme fee.
                    description: The fee scheme of the fee component.
                required:
                - _id
              description: An array of fee components for the var fee.
          required:
          - _id
          description: The inner fee of the transaction including fix and var fee
        outerFeeComponents:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the fee composition.
            fix:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee component.
                  amount:
                    type: number
                    format: float
                    description: The fee amount.
                  value:
                    type: number
                    format: float
                    description: The fee value.
                  total:
                    type: number
                    format: float
                    description: The fee total. Calculated with amount and value.
                  type:
                    type: string
                    enum:
                    - onTicket
                    - onHardTicket
                    - onCart
                    description: The fee type of the fee component.
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name of the fee.
                  publicName:
                    type: string
                    description: The public name of the fee component.
                  exposed:
                    type: boolean
                    description: Whether this fee will be exposed to the ticket buyer.
                  scheme:
                    type: object
                    properties:
                      schemeId:
                        type: string
                        description: The ID of the fee scheme.
                      feeId:
                        type: string
                        description: The ID of the fee scheme fee.
                    description: The fee scheme of the fee component.
                required:
                - _id
              description: An array of fee components for the fix fee.
            var:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the fee component.
                  amount:
                    type: number
                    format: float
                    description: The fee amount.
                  value:
                    type: number
                    format: float
                    description: The fee value.
                  total:
                    type: number
                    format: float
                    description: The fee total. Calculated with amount and value.
                  type:
                    type: string
                    enum:
                    - onTicket
                    - onHardTicket
                    - onCart
                    description: The fee type of the fee component.
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name of the fee.
                  publicName:
                    type: string
                    description: The public name of the fee component.
                  exposed:
                    type: boolean
                    description: Whether this fee will be exposed to the ticket buyer.
                  scheme:
                    type: object
                    properties:
                      schemeId:
                        type: string
                        description: The ID of the fee scheme.
                      feeId:
                        type: string
                        description: The ID of the fee scheme fee.
                    description: The fee scheme of the fee component.
                required:
                - _id
              description: An array of fee components for the var fee.
          required:
          - _id
          description: The outer fee of the transaction including fix and var fee
        cancellationFee:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the fee component.
            amount:
              type: number
              format: float
              description: The fee amount.
            value:
              type: number
              format: float
              description: The fee value.
            total:
              type: number
              format: float
              description: The fee total. Calculated with amount and value.
            type:
              type: string
              enum:
              - onTicket
              - onHardTicket
              - onCart
              description: The fee type of the fee component.
            name:
              type:
              - string
              - 'null'
              description: The name of the fee.
            publicName:
              type: string
              description: The public name of the fee component.
            exposed:
              type: boolean
              description: Whether this fee will be exposed to the ticket buyer.
            scheme:
              type: object
              properties:
                schemeId:
                  type: string
                  description: The ID of the fee scheme.
                feeId:
                  type: string
                  description: The ID of the fee scheme fee.
              description: The fee scheme of the fee component.
          required:
          - _id
          description: The cancellation fee of the transaction
        cancellationInfo:
          type: object
          properties:
            cancellableItems:
              type: array
              items:
                type: object
                properties:
                  cartItemId:
                    type: string
                    description: The ID of the cart to which the item belongs to
                  type:
                    type: string
                    enum:
                    - ticket
                    - product
                    - fee
                    - discount
                    - fulfillment
                    - insurance
                    description: The type of the item indicated where it originated from
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name of the item
                  price:
                    type: number
                    format: float
                    description: The price of the item
                  taxRate:
                    type: number
                    format: float
                    description: The applied tax rate for that item
                  origin:
                    oneOf:
                    - type: object
                      properties:
                        fee:
                          type: object
                          properties:
                            _id:
                              type: string
                              description: The ID of the fee component.
                            amount:
                              type: number
                              format: float
                              description: The fee amount.
                            value:
                              type: number
                              format: float
                              description: The fee value.
                            total:
                              type: number
                              format: float
                              description: The fee total. Calculated with amount and value.
                            type:
                              type: string
                              enum:
                              - onTicket
                              - onHardTicket
                              - onCart
                              description: The fee type of the fee component.
                            name:
                              type:
                              - string
                              - 'null'
                              description: The name of the fee.
                            publicName:
                              type: string
                              description: The public name of the fee component.
                            exposed:
                              type: boolean
                              description: Whether this fee will be exposed to the ticket buyer.
                            scheme:
                              type: object
                              properties:
                                schemeId:
                                  type: string
                                  description: The ID of the fee scheme.
                                feeId:
                                  type: string
                                  description: The ID of the fee scheme fee.
                              description: The fee scheme of the fee component.
                          required:
                          - _id
                          description: The cancellation fee of the item
                    - type: object
                      properties:
                        ticketTypeId:
                          type: string
                          description: The ID of the ticket type this ticket inherits from
                    - type: object
                      properties:
                        productVariantId:
                          type: string
                          description: The ID of the product variant this product inherits from
                    description: Object indicating where the item originated from
                  cancellationFee:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The ID of the fee component.
                      amount:
                        type: number
                        format: float
                        description: The fee amount.
                      value:
                        type: number
                        format: float
                        description: The fee value.
                      total:
                        type: number
                        format: float
                        description: The fee total. Calculated with amount and value.
                      type:
                        type: string
                        enum:
                        - onTicket
                        - onHardTicket
                        - onCart
                        description: The fee type of the fee component.
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the fee.
                      publicName:
                        type: string
                        description: The public name of the fee component.
                      exposed:
                        type: boolean
                        description: Whether this fee will be exposed to the ticket buyer.
                      scheme:
                        type: object
                        properties:
                          schemeId:
                            type: string
                            description: The ID of the fee scheme.
                          feeId:
                            type: string
                            description: The ID of the fee scheme fee.
                        description: The fee scheme of the fee component.
                    required:
                    - _id
                    description: The cancellation fee of the item. Is set when cancellation fees are charged at cancellation
                  refundId:
                    type: string
                    description: The ID of the refund. Is set when item was refunded
                  cancelledAt:
                    type: string
                    format: date-time
                    description: A date indicating when the item has been cancelled
                required:
                - cartItemId
                - type
                - price
              description: An array of cancellable items
          description: The cancellation info of the transaction
        taxRate:
          type: number
          format: float
          description: The tax rate of the transaction
          default: 0.19
        createdAt:
          type: string
          format: date-time
          description: An ISO timestamp indicating when the transaction was created
        updatedAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the voucher was last updated
        status:
          type: string
          enum:
          - NEW
          - RESERVED-BY-SYSTEM
          - ABORTED
          - COMPLETE
          - CANCELED
          description: The status of the transaction.
        psp:
          type: string
        paymentMethod:
          type: string
          enum:
          - paypal
          - stripe
          - local
          - external
          - vivenu-payments
          description: The payment method of the transaction.
        paymentInfo:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the payment info
            psp:
              type: string
            gateway:
              type: string
              enum:
              - managed
              - external
              - local
              description: The payment gateway of the payment.
              default: managed
            providerType:
              type: string
              enum:
              - stripeConnect
              - vivenu
              description: The payment provider of the payment.
              default: vivenu
            providerId:
              type: string
              description: The ID of the provider of the payment
            method:
              type: string
              description: The method of the payment
            methodVariant:
              type: string
              description: The method variant of the payment
            locale:
              type: string
              description: The locale of the payment
            riskLevel:
              type: string
              description: The risk level of the payment
            riskScore:
              type: number
              format: float
              description: The risk score of the payment
            refundId:
              type: string
              description: The ID of the refund of the payment
            collectedApplicationFee:
              type: number
              format: float
              description: The application fee of the payment
          required:
          - _id
          description: The payment info of the transaction
        paymentStatus:
          type: string
          enum:
          - AWAITING
          - PENDING
          - RECEIVED
          - REFUND
          - CANCELED
          - FAILED
          - DISPUTE
          - CHARGEBACK
          - POS-RECEIVED
          - POS-CANCELED
          - LOCAL-PENDING
          - LOCAL-AWAITING
          - LOCAL-RECEIVED
          - EXTERNAL
          description: The payment status of the transaction.
          default: AWAITING
        origin:
          type: string
          enum:
          - yourticket
          - pos
          - rebooking
          - upgrade
          - subscription
          description: The origin of the transaction.
        userId:
          type: string
          description: The ID of the user who created the transaction.
        posId:
          type: string
          description: The ID of pos of the transaction
        posInfo:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the POS info
            sessionId:
              type: string
              description: The ID of the session of the POS
            billingNo:
              type: string
              description: The billing no of the POS
            taxId:
              type: string
              description: The tax ID of the POS
            paymentMethod:
              type: string
              description: The payment method of the POS.
            canceledAt:
              type: string
              format: date-time
              description: The cancellation Date of the POS
            cancellationNo:
              type: string
              format: date-time
              description: The cancellation no of the POS
          required:
          - _id
          description: The POS info of the transaction
        history:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the transaction history entry
              date:
                type: string
                format: date-time
                description: The date of the history entry
              title:
                type: string
                description: The title of the history entry
              message:
                type: string
                description: A message which describes the history entry
              type:
                type: string
                enum:
                - PAYMENT
                - YOURTICKET
                - USER
                description: The type of the history entry.
                default: YOURTICKET
              risk:
                type: string
                enum:
                - DANGER
                - NEUTRAL
                - GOOD
                description: "The risk of the transaction history entry.\n    NEUTRAL = is a neutral risk of the transaction.\n    GOOD = is a good risk factor of the transaction, which means less risk.\n    DANGER = is a danger risk factor of the transaction, which means high risk."
                default: NEUTRAL
            required:
            - _id
          description: An array of history entry items of the transaction
          deprecated: true
        historyEntries:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the transaction history entry
              date:
                type: string
                format: date-time
                description: The date of the history entry
              userId:
                type: string
                description: The ID of the user of the history entry
              data:
                type: object
                description: The data of the history entry
              type:
                type: string
                enum:
                - created
                - reserved
                - completed
                - completed.manually
                - aborted
                - canceled
                - partial.canceled
                - pos.created
                - pos.canceled
                - pos.payment.method.changed
                - payment.canceled
                - payment.authorized
                - payment.failed
                - payment.succeeded
                - payment.chargeback
                - payment.localReceived
                - dispute.created
                - dispute.countered
                - dispute.won
                - dispute.lost
                - refunded
                - partial.refunded
                - refund.failed
                - partial.refunded.voucher
                - payment.local.added
                - payment_correction.refund.missing_in_core
                - price.recalculated
                - invitation.reserved.mail
                - transaction.resent.mail
                - transaction.resent.ticket_mail
                - transaction.resent.voucher_mail
                - tickets.booked
                - transaction.sent.sms
                - commented
                description: The type of the history entry.
              risk:
                type: string
                enum:
                - DANGER
                - NEUTRAL
                - GOOD
                description: "The risk of the transaction history entry.\n    NEUTRAL = is a neutral risk of the transaction.\n    GOOD = is a good risk factor of the transaction, which means less risk.\n    DANGER = is a danger risk factor of the transaction, which means high risk."
                default: NEUTRAL
            required:
            - _id
          description: An array of history entry items of the transaction
        ticketMailSend:
          type: boolean
          description: Whether the mail with the ticket of the transaction was sent
        orderMailSend:
          type: boolean
          description: Whether the mail with the order of the transaction was sent
        extraFields:
          type: object
          description: The extra fields of the transaction
        channel:
          type: string
          description: The channel of the transaction
        underShop:
          type: string
          description: The under shop of the transaction
        userAgent:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the User Agent
            ua:
              type: string
              description: The user agent
            browser:
              type: object
              description: The browser of the user
            device:
              type: object
              description: The device of the user
            engine:
              type: object
              description: The engine of the user
            os:
              type: object
              description: The OS of the user
            cpu:
              type: object
              description: The CPU of the user
          required:
          - _id
          description: The User Agent of the transaction
        ipLookup:
          type: object
          properties:
            ip:
              type: string
              description: The IP address of the IP lookup info
            lookup:
              type: object
              properties:
                range:
                  type: array
                  items:
                    type: number
                    format: float
                  description: The Range of the ip adress
                country:
                  type: string
                  description: The country of the IP lookup
                region:
                  type: string
                  description: The region of the IP lookup
                eu:
                  type: string
                timezone:
                  type: string
                  description: The timezone of the IP lookup
                city:
                  type: string
                  description: The city city of the IP lookup
                ll:
                  type: array
                  items:
                    type: number
                    format: float
                metro:
                  type: number
                  format: float
                area:
                  type: number
                  format: float
              description: The IP lookup result
          description: The IP lookup info of the transaction
        locationCenter:
          type: array
          items:
            type: number
            format: float
        secret:
          type: string
          description: The secret token of the transaction
        vouchers:
          type: array
          items:
            type: string
          description: An array of voucher codes applied to this transaction
        redeemedVouchers:
          type: object
          properties:
            totalRedeemedAmount:
              type: number
              format: float
              description: The sum of all vouchers applied.
            vouchers:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the voucher.
                  code:
                    type: string
                    description: The Code of the voucher.
                  redeemedAmount:
                    type: number
                    format: float
                    description: The applied value of the voucher.
                required:
                - code
                - redeemedAmount
              description: An array of all redeemed vouchers.
          required:
          - totalRedeemedAmount
          description: An array of voucher codes redeemed for this transaction
        appliedCoupons:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the applied coupon.
              code:
                type: string
                description: The code of the applied coupon.
          description: An array of applied coupons within the transaction
        appliedDiscountGroups:
          type: array
          items:
            type: string
          description: An array of discount groups applied to the transaction
        posDiscounts:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: The ID of the POS discount
              name:
                type: string
                description: The name of the POS discount
              discountType:
                type: string
                enum:
                - TOTAL
                - PERCENTAGE
                - fix
                - var
                description: The discount type.
                default: fix
              value:
                type: number
                format: float
                description: The value of the POS discount
            required:
            - _id
            - name
            - value
          description: An array of POS discounts
        preferredLanguage:
          type: string
          enum:
          - de
          - de-CH
          - en
          - en-GB
          - en-AU
          - fr
          - es
          - es-MX
          - is
          - it
          - ru
          - pt
          - tr
          - nb
          - nl
          - pl
          - sv
          - sl
          - da
          - cs
          - lv
          - he
          - ar
          - th
          - ko
          - ja
          - zh-TW
          description: The preferred language of the transaction. It is determined automatically
          default: de
        cancellationReason:
          type: string
          enum:
          - REQUESTED_BY_CUSTOMER
          - CLAIM
          - COMMUNICATION_ERROR
          - TRAINING/TEST
          description: The reason of the cancellation of the transaction
        appliedDiscountInfo:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the applied discount info item.
                  itemId:
                    type: string
                    description: The ID of the item on which the discount is applied.
                  amount:
                    type: number
                    format: float
                    description: The amount of applied discounts.
                  regularPrice:
                    type: number
                    format: float
                    description: The regular price before applying the discount.
                  price:
                    type: number
                    format: float
                    description: The price after applying the discount.
                  varDiscounts:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the discount info.
                        discountId:
                          type: string
                          description: The ID of the discount of the discount info.
                        category:
                          type: string
                          enum:
                          - coupon
                          - groupDiscount
                          - posDiscount
                          - voucher
                          - system
                          - modifier
                          description: The category of the discount.
                        name:
                          type: string
                          description: The name of the discount.
                        type:
                          type: string
                          enum:
                          - fix
                          - var
                          - fixPerItem
                          - waiveFees
                          description: The type of the discount.
                        value:
                          type: number
                          format: float
                          description: The value of the discount.
                        allowedItems:
                          type: array
                          items:
                            type: string
                          description: An array of the IDs of allowed items of the discount.
                      required:
                      - _id
                      - type
                    description: An array of var discounts of the applied discount info item.
                  fixDiscounts:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: The ID of the discount info.
                        discountId:
                          type: string
                          description: The ID of the discount of the discount info.
                        category:
                          type: string
                          enum:
                          - coupon
                          - groupDiscount
                          - posDiscount
                          - voucher
                          - system
                          - modifier
                          description: The category of the discount.
                        name:
                          type: string
                          description: The name of the discount.
                        type:
                          type: string
                          enum:
                          - fix
                          - var
                          - fixPerItem
                          - waiveFees
                          description: The type of the discount.
                        value:
                          type: number
                          format: float
                          description: The value of the discount.
                        allowedItems:
                          type: array
                          items:
                            type: string
                          description: An array of the IDs of allowed items of the discount.
                      required:
                      - _id
                      - type
                    description: An array of fix discounts of the applied discount info item.
                required:
                - _id
              description: An array of applied discount info items.
            discounts:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: The ID of the discount info.
                  discountId:
                    type: string
                    description: The ID of the discount of the discount info.
                  category:
                    type: string
                    enum:
                    - coupon
                    - groupDiscount
                    - posDiscount
                    - voucher
                    - system
                    - modifier
                    description: The category of the discount.
                  name:
                    type: string
                    description: The name of the discount.
                  type:
                    type: string
                    enum:
                    - fix
                    - var
                    - fixPerItem
                    - waiveFees
                    description: The type of the discount.
                  value:
                    type: number
                    format: float
                    description: The value of the discount.
                  allowedItems:
                    type: array
                    items:
                      type: string
                    description: An array of the IDs of allowed items of the discount.
                  maxItemsInCart:
                    type: number
                    format: float
                    description: The maximum amount of items the discount will be applied towards.
                  maxAbsoluteValue:
                    type: number
                    format: float
                    description: The maximum absolute value of the discount.
                  absoluteDiscountValue:
                    type: number
                    format: float
                    description: The absolute value of the discount.
                required:
                - _id
                - type
              description: An array of extended discount info items.
          description: Applied discountInfo for the transaction
        invoiceVersion:
          type: string
          description: The invoice version of the transaction.
          default: v2
        seatingReservationToken:
          type: string
          description: The seating reservation token of the transaction
      required:
      - _id
      - sellerId
      - eventId
      - realPrice
      - status
      - secret
    POST_Api_ConvertCheckout:
      type: object
      properties:
        checkoutId:
          type: string
        paymentMethod:
          type: string
        paymentType:
          type: string
          enum:
          - terminal
          - local
          - terminalManual
          - qrCode
        customerId:
          type: string
      required:
      - checkoutId
      - paymentMethod
      - paymentType
    VoucherResource:
      type: object
      properties:
        code:
          type: string
          minLength: 4
          pattern: ^[^;]*$
          description: Code used to redeem the voucher
        amount:
          type: number
          format: float
          description: The amount of the voucher in seller's currency. eg. 50.0 -> 50 EUR
        validUntil:
          type: string
          format: date-time
          description: The date until this voucher can be redeemed.
        sellerId:
          type: string
          description: The ID of the seller of the voucher
        transactionId:
          type: string
          description: The ID of the transaction if the voucher was a result of a transaction
        productId:
          type: string
          description: The ID of the product if the voucher was a result of a product
        refundId:
          type: string
          description: The ID of the refund if the voucher was a result of a refund
        customerId:
          type: string
          description: The ID of the customer if the voucher was created for a specific customer
        origin:
          type: string
          enum:
          - default
          - shop
          - import
          - upgrade
          - refund
          description: The origin of the voucher
        createdAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the voucher was created.
        updatedAt:
          type: string
          format: date-time
          description: An ISO Timestamp indicating when the voucher was last updated.
      required:
      - code
      - amount
      - createdAt
      - updatedAt
    POST_Api_PostPosCheckoutDetails:
      type: object
      properties:
        secret:
          type: string
          description: The secret token of the checkout
        company:
          type:
          - string
          - 'null'
          description: The company name for this checkout
        prename:
[...]
